[2014-03-21 20:39] triplem opened #1 "couscous preview not working"
I do get the following error message on couscous preview:

Copying template files
Processing README.md
PHP Warning:  date(): It is not safe to rely on the system's timezone settings. You are _required_ to use the date.timezone setting or the date_default_timezone_set() function. In case you used any of those methods and you are still getting this warning, you most likely misspelled the timezone id

[2014-03-21 21:11] triplem opened #2 "use latest parsedown"
Tables are not rendered correctly, while the latest parsedown does this. could be that it is a version issue?

Try the following:

| Name | Contribution |
| --- | :-: |
| Dumm1 | Provided the longest Source Code |
| Dumm2 | Service Scripts |
| MyName | Several Plugin |

http://parsedown.org/demo

[2014-03-21 22:06] #1 closed, assigned to nobody

[2014-04-07 11:03] mnapoli opened #3 "Failure if no website/public directory"
[code]

Couscous should handle the case where no `website/public` directory exists.

[2014-04-07 12:25] mnapoli opened #4 "Symlink the public directory instead of copying for preview"
This will improve the dev process, no need to relaunch the server to regenerate the website.

[2014-04-07 20:59] mnapoli opened #5 "Support for .ico files as assets"
It seems `.ico` files are not copied by Couscous like the other assets.

[2014-05-15 11:47] #2 closed, assigned to nobody

[2014-05-15 11:48] #5 closed, assigned to nobody

[2014-05-30 11:13] #3 closed, assigned to nobody

[2014-05-31 12:07] mnapoli opened #6 "Things to rename"
There are some things that don't have a very good name, here are renames to do:
- [x] `template` should be `layout` in markdown files (the template is the whole theme with CSS & all, the layout is the specific twig file)
- [x] default layout `page.twig` should be `default.twig`

[2014-10-05 09:48] kasperg opened #7 "Updating template is not reflected in preview"
Thanks for sharing Cousous!

When updating template files changes do not seem to be automatically reflected in the running preview server automatically. After restarting the server the updates are reflected as expected.

In both situations the preview server writes the following to the console:

[code]

I am using PHP 5.5.17 and Couscous dev-master.

[2014-10-27 02:49] mnapoli opened #9 "Get the page list in a Twig variable"
In order to build menus and lists (e.g. in blogs) more easily, it would be good to have the file list and file tree in Twig.

Example:

[code]

Would render:

[code]

Similarly, we would need to have the list also available as a tree, but be able to get the files of a specific directory:

[code]

[code]

[2014-10-27 02:51] #9 closed, assigned to mnapoli

[2014-10-30 10:04] #4 closed, assigned to nobody

[2014-10-30 10:05] mnapoli opened #11 "Automatically add the "website" directory to the ignore list"
The `website/` directory must be ignored (like `vendor/`) by default.

[2014-10-30 10:23] mnapoli opened #12 "Twig compilation prevent to reload templates"
When templates are modified, Twig will not reload them.

The reason for this is that Twig compiles file templates into PHP code, using a class name that contains the file name. Given the file name has not changed (only the content), the generated PHP class already exists and Twig skips re-creating it.

See https://github.com/twigphp/Twig/issues/914

[2014-10-31 07:49] mnapoli opened #13 "There should be no required file to run Couscous"
Today Couscous requires a `couscous.yml` and a template directory. It should work without them using default configs end templates.

[2014-10-31 07:50] #12 closed, assigned to mnapoli

[2014-10-31 07:52] mnapoli opened #14 "Ship with a beautiful default template"

[2014-10-31 08:40] mnapoli opened #15 "Automatically create the gh-pages branch if it doesn't exist"
Couscous should work out of the box.

[2014-11-01 05:20] #13 closed, assigned to mnapoli

[2014-11-02 01:36] mnapoli opened #16 "Add a `preview` variable in layouts to know when working in "preview""

[2014-11-02 02:06] mnapoli opened #17 "Simplify templates"
Instead of having:

[code]

We could simply have:

[code]

[2014-11-02 02:20] #6 closed, assigned to mnapoli

[2014-11-02 04:11] #17 closed, assigned to nobody

[2014-11-03 10:02] mnapoli opened #18 "Website: optimize the background image"
The background image is 1.3 Mb right now, which is way too much. It needs to be optimized, but still display correctly on a large display.

If anybody who knows how to do this correctly wants to give it a shot, I'm all hears. I don't have good photo editor software (e.g. photoshop).

[2014-11-05 09:04] #14 closed, assigned to mnapoli

[2014-11-05 09:14] mnapoli opened #19 "Remote templates: ignore some files"
Remote templates can contain files, like https://github.com/CouscousPHP/Template-Default
- README.md
- screenshot.png

We don't want those files when the template is used.

[2014-11-06 10:21] mnapoli opened #20 "Improve documentation"
The documentation needs to be updated for 1.0.

Also on the website it would be good to add a sidebar containing links to all the documentation articles. (like in https://github.com/CouscousPHP/Template-Default)

[2014-11-06 10:30] mnapoli opened #21 "Domain name: couscous.io?"
Choose and setup a domain.

couscous.io?

[2014-11-06 10:33] mnapoli opened #22 "Logo + favicon"
We need a logo and favicon for the website and the GitHub organization.

[2014-11-06 10:41] mnapoli opened #23 "Rename the Composer package"
From `mnapoli/couscous` to `couscous/couscous`.

[2014-11-07 08:31] mnapoli opened #25 "Scrutinizer"
- [x] add the project on Scrutinizer (https://scrutinizer-ci.com/g/CouscousPHP/Couscous/)
- [x] add the badge to the README

[2014-11-07 08:32] #21 closed, assigned to nobody

[2014-11-07 08:40] #23 closed, assigned to mnapoli

[2014-11-07 08:44] maxailloud opened #26 "Error using couscous on Symfony 2 project"
Using the latest version of couscous on a Symfony 2 project I get this error:

To get that I just executed the following commands, as on the couscous website:
- curl -OS http://couscousphp.github.io/Couscous/couscous.phar
- php couscous.phar preview .

Couscous is looking for an `autoload.php` file three level up from the folder project, so in `/home`, instead in the vendor folder.

[2014-11-07 09:21] #26 closed, assigned to mnapoli

[2014-11-07 09:23] wysow opened #27 "Which tool to format PR content?"
Hello there,

Should we use something like https://github.com/gushphp/gush to format PR always the same way?

Maybe another tool...

[2014-11-07 09:30] maxailloud opened #28 "No address for server when previewing"
Preview features seems to be broken.

I launched it as said on the website:

Here is what I get:

I don't have any address to look at, and [http://localhost:8000/](http://localhost:8000/) is not accessible either.

[2014-11-07 10:16] wysow opened #29 "Give information about requirements"
We should write something somewhere about requirements as I just found that `lessc` is needed to allow Couscous to work correctly

[2014-11-07 10:31] #28 closed, assigned to nobody

[2014-11-07 22:18] #11 closed, assigned to mnapoli

[2014-11-07 22:19] #25 closed, assigned to nobody

[2014-11-09 00:22] mnapoli opened #33 "Drop support for PHP 5.3?"
Should we support PHP 5.3? Without PHP 5.4 the built-in webserver doesn't work, so that defeats the purpose of `couscous preview`…

I'm afraid people having PHP 5.3 would never even use it because of that, so I guess it's pointless to keep support for it. And since Couscous will only be run on development machines, having a recent PHP version is usually not a problem (compared to upgrading in prod

[2014-11-09 00:25] mnapoli opened #34 "Add documentation for running Couscous in Travis?"
Today to generate and deploy Couscous, users have:

- to install Couscous locally
- to run `couscous deploy`

An alternative would be to run Couscous in Travis so that it's redeployed everytime anybody pushes. I'm guessing that can be practical for some projects (no need to have a maintainer that rebuilds the website everytime). Of course we would still keep all the documentation about running Cou

[2014-11-10 06:08] #33 closed, assigned to mnapoli

[2014-11-10 06:09] #7 closed, assigned to mnapoli

[2014-11-10 19:51] #18 closed, assigned to nobody

[2014-11-23 11:07] mnapoli opened #38 "Support Markdown Extra"
I don't think we support Markdown Extra right now, because we are using mnapoli/FrontYaml which uses Parsedown by default.

We should have it use ParsedownExtra.

We would also probably need tests to ensure we support Markdown Extra.

[2014-11-23 11:10] mnapoli opened #39 "Auto-generate HTML IDs for headers"
It's pretty useful to be able to link to a sub-section of a page. To do this, we need to have HTML IDs on headers, like this:

[code]

This is possible with Markdown Extra (supported by Couscous by default):

[code]

But that requires to use that notation everywhere. What would be good is to automatically add the IDs for headers.

For example: https://github.com/piwik/developer-documentation/blob/

[2014-11-28 12:13] mnapoli opened #40 "Couscous "init:template" command"
That would be cool to have a command to initialize a template:

[code]

That would create the directory and maybe put a very very simple Twig template in there, just to get started.

There is currently the [`InitCommand`](https://github.com/CouscousPHP/Couscous/blob/master/src/Command/InitCommand.php) (`couscous init`) but it's not up to date so I have disabled it for now. It can be used as a basi

[2014-11-28 12:18] mnapoli opened #41 "More tests & improve code coverage"
Currently the code coverage is very low: [![Code Coverage](https://scrutinizer-ci.com/g/CouscousPHP/Couscous/badges/coverage.png?b=master)](https://scrutinizer-ci.com/g/CouscousPHP/Couscous/?branch=master) (16% at the time of writing)

Tests are mainly functional tests. It would be good to write unit tests.

If anybody wants to write unit tests, you need to be aware that PHPUnit is set up so that

[2014-11-29 00:53] #16 closed, assigned to nobody

[2014-11-29 01:11] #38 closed, assigned to nobody

[2014-11-30 09:51] mnapoli opened #46 "Replace default template?"
We now have 3 templates:
- ["Default"](https://github.com/CouscousPHP/Template-Default)

  ![](https://raw.githubusercontent.com/CouscousPHP/Template-Default/master/screenshot.png)
- [Light](https://github.com/CouscousPHP/Template-Light)

  ![](https://raw.githubusercontent.com/CouscousPHP/Template-Light/master/screenshot.png)
- [Basic](https://github.com/CouscousPHP/Template-Basic)

  ![](https:/

[2014-12-01 07:24] #46 closed, assigned to nobody

[2014-12-01 09:51] #27 closed, assigned to nobody

[2014-12-01 19:14] mnapoli opened #47 "Errors while running Couscous on some distros"
A friend of mine gave it a spin on CentOS (PHP 5.5):

[code]

Then tried OpenSuse, PHP 5.6.3:

[code]

With OpenSuse, PHP 5.4.34 is the same as CentOS.

[2014-12-02 11:20] mnapoli opened #48 "Reduce the size of the phar"
A friend reported to me that the Phar was around 6 Mo, which is a bit much. On top of that, he experienced slow downloads from the website (GitHub hosting). I'm sure we can reduce it by removing useless extra files (tests? website?) from the generated phar.

[2014-12-04 07:21] #48 closed, assigned to mnapoli

[2014-12-04 07:46] #15 closed, assigned to mnapoli

[2014-12-05 10:28] #20 closed, assigned to nobody

[2014-12-05 10:29] #29 closed, assigned to wysow

[2014-12-05 10:42] mnapoli opened #50 "Auto-generate HTML ids for headers"
It's pretty useful to be able to link to a sub-section of a page. To do this, we need to have HTML IDs on headers, like this:

[code]

This is possible with Markdown Extra (supported by Couscous by default):

[code]

But that requires to use that notation everywhere.

What would be good is to automatically add the IDs for headers. To do this, we can probably reuse what I wrote here in Piwik's docu

[2014-12-05 10:45] mnapoli opened #51 "Warn the user that we require PHP 5.4"
In the case that a user runs the Phar with PHP 5.3, we should probably die with an explicit message instead of waiting for an error to happen.

I think a simple `if ()` in [`bin/couscous`](https://github.com/CouscousPHP/Couscous/blob/master/bin/couscous) would be enough…

[2014-12-05 23:10] #50 closed, assigned to nobody

[2014-12-06 06:09] #41 closed, assigned to mnapoli

[2014-12-07 04:40] mnapoli opened #53 "Convert Markdown files and links to lower-case"
On Couscous and other projects there is a `CHANGELOG.md` or `CONTRIBUTING.md`. When we want to link to it in the website, it gives this ugly URL: http://php-di.org/CONTRIBUTING.html

it would be nice to turn those links and HTML files in lower case.

[2014-12-08 23:11] EmiiKhaos opened #54 "www.couscous.io leads to domain parked page"
www.couscous.io leads to a page, which says the domain is parked. Non www domain works well.

[2014-12-09 08:28] kasperg opened #55 "Speed up external templates"
If using a template from a git url [the template appears to be cloned each time the site is generarted](https://github.com/CouscousPHP/Couscous/blob/master/src/Step/Template/InitTemplate.php#L68). That makes the preview process slower.

It would be nice if we could keep using the the checkout if the url does not change. To ensure we use the latest version we could pull.

[2014-12-09 09:43] pyrech opened #56 "Relative url not targeting a markdown file"
Hi,

I just noticed a small issue with Couscous. When a link target a relative path (not a markdown file), I think the link should point to the github repo instead of keeping a relative url.

For example, in [this page](http://gnugat.github.io/redaktilo/doc/02-use-cases.html) of the Redaktilo website (/cc @gnugat), there is a link targeting a test case (`../tests/example/BundleRegistrationTest.php

[2014-12-09 10:46] mnapoli opened #57 "Replace calls to `exec()` with a PHP class"
We have this pattern a lot:

[code]

Problems:
- `exec()` makes the code impossible to unit test
- code duplication

Solution:

Add a utility class with a `run($command)` method that runs CLI commands. It would automatically throw the exception and do the stderr redirect (`2>&1`).

That would allow us to mock that class in unit tests, just like we can mock the filesystem thanks to Symfony's Filesy

[2014-12-09 20:06] #56 closed, assigned to nobody

[2014-12-10 06:58] dunglas opened #62 "Rename cousous.yml to .couscous.yml?"
Awesome project!

What do you think about renaming `couscous.yml` to `.couscous.yml` for consistency with Git, Travis, Scrutinizr, PHP CS Fixer... and to avoid visually polluting the main repository with on Unix?

[2014-12-10 09:14] #62 closed, assigned to nobody

[2014-12-10 11:27] #55 closed, assigned to mnapoli

[2014-12-10 16:32] Grummfy opened #63 "Search feature"
Hi,
I will better if there is a search area in the documentation.

Possible solution :
- a simple google/bing/whatever search box area
- using https://github.com/olivernn/lunr.js be we need in this case an indexer
- there is also externals crawler (that cost some money) that generate index or index + search
- you can be inspire by this kjekyll plugins : https://github.com/slashdotdash/jekyll-lunr-

[2014-12-10 21:07] #57 closed, assigned to lombartec

[2014-12-11 00:36] #51 closed, assigned to nobody

[2014-12-11 13:24] chanmix51 opened #64 "RestructuredText support"
Any chance to get restructuredText support ?

[2014-12-12 02:38] mnapoli opened #65 "Auto-link to GitHub issue in Markdown"
GitHub will automatically create a link to an issue in Markdown with text like this:

[code]

Couscous could support the same behavior and turn `#123` into `[#123](https://github.com/CouscousPHP/Couscous/issues/123)`.

It would only work if the GitHub project is configured in `couscous.yml`, e.g.:

[code]

(same options that what's used in [the default template](https://github.com/CouscousPHP/Temp

[2014-12-18 20:47] mnapoli opened #67 "Run tests against lowest Composer dependencies"
http://mnapoli.fr/test-lowest-dependencies/

We should do it as well to ensure Couscous will work in all setups

[2014-12-19 11:16] mnapoli opened #68 "Problems requiring Couscous with Composer"
Couscous requires a non-stable version of BowerPHP (because no stable version exist, see https://github.com/Bee-Lab/bowerphp/issues/93).

`composer require couscous/couscous` then throws an error that no stable version of BowerPHP can be found… (unless end users explicitly allow non-stable versions).

In `composer.json` we tried requiring  `0.2.*@alpha`, `0.2.2-alpha` or  `1.0.x-dev` of BowerPHP b

[2014-12-25 23:03] mnapoli opened #70 "Add Couscous to "Awesome PHP""
Add Couscous here: https://github.com/ziadoz/awesome-php#static-site-generators

[2014-12-26 02:12] tmquang6805 opened #71 "Composer require Couscous ver 1.0 fail"
When I config my `composer.json` get couscous version 1.0 like that

[code]

And, after that, run `composer install`, raise error

[code]

But, if I config with `@stable`, composer get and install Couscous ver **0.3.3**

[2014-12-26 05:31] #71 closed, assigned to nobody

[2014-12-30 19:58] mnapoli opened #74 "Link to current file in GitHub"
For wallabag's documentation or PHP-DI too (https://github.com/mnapoli/PHP-DI/issues/132), it would be useful to show "Edit this documentation article" buttons.

To do this, we need to be able to know the name of the current file.

I'm thinking it wouldn't be hard to create a new Markdown step that just sets a metadata variable `currentFile` with the relative filename.

[2015-01-05 04:03] mnapoli commented on #22
![logo](https://cloud.githubusercontent.com/assets/720328/5609127/cddb2eba-94fc-11e4-83c9-944cc8d2f386.png)

[2015-01-05 06:14] mnapoli commented on #22
2 options:

![logo-ccs](https://cloud.githubusercontent.com/assets/720328/5609836/94633ed6-950e-11e4-8d5e-c315cbe55787.png)

![logo-ccs-v2](https://cloud.githubusercontent.com/assets/720328/5609835/8e8ed998-950e-11e4-81d8-2282f48bfb92.png)

I have them in high def, the preview on Github doesn't look really sharp. Any preference?

Created by @climence, open sourced under the Creative Commons licens

[2015-01-05 07:46] lombartec commented on #22
I like the second option more. Thanks @climence :)

[2015-01-10 05:22] mnapoli commented on #22
Done!

I've updated the organization logo (https://github.com/CouscousPHP), set the website favicon and uploaded the logo in the repo.

Here is the high-res file: https://github.com/CouscousPHP/Couscous/blob/master/website/logo/logo_big.png

[2015-01-10 05:22] #22 closed

[2015-01-13 01:04] mnapoli opened #78 "Support HTML comments for YAML front matter"
See https://github.com/mnapoli/FrontYAML/issues/5

The idea would be to support both kind of YAML front matter:

[code]

and

[code]

[2015-01-14 01:04] mnapoli opened #80 "Support FrontYAML in HTML comments"
Thanks to @Giuseppe-Mazzapica FrontYAML can now use custom separators (https://github.com/mnapoli/FrontYAML/releases/tag/1.4.0), including HTML comments:

[code]

This needs to be officially supported in Couscous by using the new option, documenting the change, updating the changelog, adding tests probably and updating the version requirement in `composer.json`.

Couscous should support both `---`

[2015-01-14 10:31] mnapoli commented on #78
without realizing it I duplicated the issue here #80

let's close this one as it contains less details...

[2015-01-14 10:31] #78 closed

[2015-01-14 15:22] wysow opened #81 "Automatic release of phar file from Travis"
I have started something on my own fork about Travis releases here: https://github.com/wysow/Couscous

Look at the `master` branch for the last commits not included in original Couscous repo to understand what I've made so far...

We can discuss about it here if needed.

[2015-01-14 20:25] mnapoli commented on #68
Reopening because I made it regress by requiring `5.0.x-dev` for PHP-DI :(

I'll fix that ASAP

[2015-01-14 20:31] mnapoli commented on #81
Awesome! I see the Phar is uploaded in the Github release, that's really good stuff.

However http://couscous.io/couscous.phar will not exist anymore, which is too bad because people could have script to download it (though Couscous is still very new, so maybe not). Or people could hope to write scripts to download it, and having a dynamic URL will prevent that.

Here is an idea: we could write a

[2015-01-15 08:06] wysow commented on #81
Yes about the link to the phar file in documentation I've made a little javascript that keep it's url up to date, but you're right your solution sounds good and I going to work in this way.

[2015-01-15 09:36] mnapoli commented on #68
I've fixed that with a very very ugly hack, but at least it should work now! (tested it OK on my machine)

[2015-01-15 09:36] #68 closed

[2015-01-15 13:04] wysow commented on #81
@mnapoli I just discovered this blog post that can help us maybe... http://moquet.net/blog/distributing-php-cli/

What do you think?

[2015-01-15 21:24] mnapoli commented on #81
There's some pretty interesting stuff in there. I'm +1 with trying anything suggested in there. Self-update would be really cool, and keeping the version number up to date is also really nice. But those should probably be worked in separate issues. I didn't see anything that could help with our deployment.

[2015-01-28 11:08] nicosomb opened #83 "Warning when deploying via travis"
Hi there,

Since few days, I've got warnings when deploying via Travis.

[code]

Full log here: https://api.travis-ci.org/jobs/48611297/log.txt?deansi=true

Nicolas

[2015-01-29 22:23] mnapoli commented on #83
Arf this will be a hard one I'm afraid, the bug seems to be in Parsedown Extra…

Warnings happen in `ParsedownExtra->inlineFootnoteMarker()`, so it may be bugging on a footnote link. Do you have any idea which markdown file it could be?

Can you try to copy-paste the content of your markdown file in the Parsdown demo here: http://parsedown.org/extra/ and see if it works?

Can you also try running

[2015-01-30 08:01] nicosomb commented on #83
Parsing into parsedown.org seems to be good, and running `couscous generate` too. I will upgrade my couscous installation and I will see if the problem persists.

I don't think we have footnote in our documentation, I'll check.

Oh you're right, website is correctly deployed! I was so tired, I didn't see that. Thank you.

[2015-02-04 02:43] mnapoli commented on #83
I'm seeing the same warnings locally when running `couscous preview`. The website still looks fine though…

I can't understand the root of the problem though. I wish we would get rid of Parsedown…

[2015-02-04 02:59] mnapoli commented on #83
Ah it was just that we were requiring an old version of Parsedown Extra!

I changed updated `composer.json` and it works for me when using the latest version of Couscous!

[2015-02-04 02:59] #83 closed

[2015-02-04 07:40] nicosomb commented on #83
You're right. It works fine https://travis-ci.org/wallabag/documentation/builds/49423715
Thanks for your great work. I love my documentation!

[2015-02-05 02:26] mnapoli opened #84 "GitHub releases integration for generating a changelog"
It would be awesome to parse the GitHub [releases](https://github.com/CouscousPHP/Couscous/releases) page of a project to generate a "changelog" page (optional of course).

And there seems to be an awesome library to do that: [stevewest/changelog](https://github.com/stevewest/changelog).

[2015-02-05 09:09] mnapoli commented on #84
https://github.com/stevewest/changelog/issues/17

[2015-02-07 12:08] mnapoli opened #86 "Demo website to try Couscous online"
This is a big piece, I'm just listing it here if anyone feel motivated to take on this side project.

The idea would be to have a website (e.g. http://demo.couscous.io) where visitors can provide the URL of a GitHub repository and instantly preview their website (as if they did `couscous preview` on their machine). They also could choose from existing templates to preview with different templates.

[2015-02-08 20:49] #53 closed

[2015-02-09 03:53] henriquemoody commented on #39
I've sent erusev/parsedown#285 in order to do that. Perhaps do it on Couscous is better.

[2015-02-09 04:06] mnapoli commented on #39
@henriquemoody cool! However we are looking at a more generic solution, because ideally we would like to be able to link to headers but also traverse the whole document structure (for example to generate a table of contents or a menu).

See that pull request: #69

So to do that we would have to move away from Parsedown in favor of https://github.com/thephpleague/commonmark which has the benefit of

[2015-02-09 17:10] henriquemoody commented on #39
I got it.

If is there a way I can help I will be glad.

[2015-02-10 03:10] mnapoli commented on #39
@henriquemoody the main blocker for #69 is to have support for tables and header IDs in https://github.com/dshafik/markua (Markua is a syntax on top of Markdown that includes Markdown Extra). So we want to contribute to this library to fill what's missing for Couscous, and then replace Parsedown with it.

If you manage to contribute to https://github.com/dshafik/markua that would be awesome!

[2015-02-10 03:10] mnapoli commented on #39
And as I said in #69, if https://github.com/dshafik/markua turns out to be not maintained, we will fork it and move it to Couscous organization to be able to finish it.

[2015-02-10 11:43] partageit opened #89 "Copy raw md files"
Hello Couscous team,

First, thank you for Couscous, it is a great tool :)

It would be nice to copy raw markdown files in the generated folder, in order to allow to download sources, or to handle it in the template.
It should enabled with a new parameter in the configuration file.
If possible, the markdown content should be available in a new variable, like `content`, for example :
```{{ md-conte

[2015-02-10 12:59] TamasBarta opened #90 "Images in preview mode"
When I run `couscous preview`, the preview server doesn't serve the images I reference in my markdown files. Solution would be to copy the images, or even better, the server could use a router that tries the original folder, if no matching file is found in the generated folder. Which one would you prefer? Tonight I could even take a look, and create a PR for this.

[2015-02-10 14:27] TamasBarta opened #91 "LiveReload in `couscous preview`"
Modifying a markdown file when `couscous preview` is active, the markdow file modified gets rendered to HTML. It would be nice to notify LiveReload to reload the page in the browser.

[2015-02-10 21:45] mnapoli commented on #90
Hi @TamasBarta,

I don't have this problem as long as images are in the `website/` directory. I can see however how it is a problem if images are elsewhere though…

We need to copy the images, because if preview doesn't work, then the website online will not have the images too.

Here are some ideas:

- we could copy all images we can find (we can [exclude directories](http://couscous.io/docs/conf

[2015-02-10 21:47] mnapoli commented on #91
First time I hear about that! That could be interesting indeed if you have time to look into it.

[2015-02-13 04:47] henriquemoody commented on #39
As I commented into the Parsedown project, If you take a look on all processed Markdown files rendered by GitHub you will he something like that right after `<hN>` tags:

[code]

We can do that on Couscous, but not on a Markdown library, IMO.

Any way, I will be nice if you fork Markua, I will be glad to contribute as well.

Ps.: You probably already read this but it's a good reading to attach to

[2015-02-14 11:56] mnapoli commented on #89
Hi @partageit!

That could be possible but I'm not so sure if there are any downside to put all the markdown files in the website. It could be something optional though.

[2015-02-19 03:36] ethanhann opened #94 "User and Organization Pages?"
User and organization pages are published from master instead of gh-pages. Can Couscous deploy to a branch other than gh-pages?

[2015-02-19 05:45] ethanhann commented on #94
Answered my own question. There is an undocumented option for specifying the branch, e.g.
[code]

[2015-02-19 05:45] #94 closed

[2015-02-19 08:07] mnapoli commented on #94
:+1:! Could be added to the documentation indeed, I'll try to keep that in mind.

[2015-02-20 09:38] marienfressinaud opened #95 "Document command line options"
I was trying to configure Couscous inside a [Docker image](https://www.docker.com/) but default `couscous preview` serves on 127.0.0.1:8000 and it cannot be changed. This causes a problem with Docker. I would like to be able to run preview on 0.0.0.0:8000 at least.

Thanks!

[2015-02-21 16:29] TamasBarta commented on #91
Sorry for the late response, I'll take a look. I already found a promising PHP implementation of the LiveReload protocol.

[2015-02-23 07:41] mnapoli commented on #95
You can set the address just like for the `php -S` command ([see here](https://github.com/CouscousPHP/Couscous/blob/master/src/Application/Cli/PreviewCommand.php#L45), for example:

[code]

I used it a couple of time with Vagrant.

I didn't make it the default because I wasn't sure if people wanted the webserver to be accessible by the whole wide world (or at least their wifi co-users)… That could

[2015-02-23 09:49] marienfressinaud commented on #95
Thanks, it works fine!

[2015-02-23 18:54] malukenho commented on #34
@mnapoli it's can be closed, not?

[2015-02-23 21:54] mnapoli commented on #34
@malukenho right! Thanks

[2015-02-23 21:54] #34 closed

[2015-02-24 08:13] mnapoli commented on #95
Another instance that documenting the CLI options is needed: #94

[2015-03-08 11:04] partageit commented on #89
Hello,
Yes, it sounds good :)
Thank you!
David

[2015-03-25 17:43] martinlindhe opened #99 "How to deploy properly?"
Hello. Trying out this project to put some static pages on my github pages.

I got it running locally and used a custom theme, things look good when i check it out with "couscous preview".

Then i tried a deploy.

This is the result: https://martinlindhe.github.io/

I then did some changes and tried another deploy.
Now i got this error:
[code]
my "git log -p" does indeed show the changes I made.

[2015-03-25 21:24] mnapoli commented on #99
Hi! I think you have stumbled on a problem specific to the "root" GitHub pages (i.e. deploy to your user page https://martinlindhe.github.io/ instead of a project page for example https://martinlindhe.github.io/you-project)…

As explained [here](https://help.github.com/articles/user-organization-and-project-pages/#user--organization-pages):

This is a problem because Couscous deploys by default on

[2015-03-25 21:25] mnapoli commented on #99
By the way if that works, then we should add documentation for that.

[2015-04-01 22:38] mmoreram commented on #74
:+1: Important

[2015-04-21 08:55] mnapoli opened #102 "Phar self update"
There aren't a lot of update for now (personally I'm focusing on releasing PHP-DI right now) but it would be good to add an auto-update system (e.g. `couscous selfupdate`).

It seems really easy to do with this package: https://github.com/padraic/phar-updater

[2015-05-11 05:00] #40 closed

[2015-06-10 08:56] #99 closed

[2015-06-21 04:22] KshitijKarthick opened #104 "deploy operation error [ CommandException ]"
### Deploy error

[ Manjaro ]
generate, preview operation is working fine but upon deploy the following occurs

[code]
### /tmp directory

[code]

[2015-06-22 08:10] mnapoli commented on #104
Hi, thanks for the report, this is weird… Could you look at the content of the directory? See if there's the repository in there or if it's empty.

Oh wait this line is weird:

I think there's the URL of the repository missing. Does your repository have an `origin` remote?

[2015-07-15 10:30] snipe opened #105 "CNAME for gh-pages with couscous?"
Hi guys - quick question - is it possible to use a CNAME file with couscous? It's publishing to my gh-pages branch as expected, but it seems to blow out my CNAME file each time I deploy. Am I missing something? (It's very possible, being that it's 3:30AM my time.)

[2015-07-18 19:52] cyberbit opened #106 "Deploy: Unable to create the branch 'gh-pages'"
I'm on Win8 trying to deploy a project website:
[code]
The working directory of the command has the `couscous.yml` file. I get this output:
[code]
The website files are under `/website` in the `master` branch. You can take a look at the branch, if that helps.

This project is fantastic so far, though! It was really easy to set up a template how I wanted and all the documentation has been clear. Th

[2015-07-19 12:42] romovs opened #107 "Using variables in content files"
Is it possible to define variables either globally in couscous.yml or at least at the page-level using YAML front-matter and use them from within the MD files? E.g.:

couscous.yml
[code]

page.md
[code]

or

page.md
[code]
This might be a nice feature to have, especially for frequently updated strings which need to be reused on multiple pages.

[2015-07-19 17:45] mnapoli commented on #105
Hi! Sorry for the late answer, was on holidays. Yes it's perfectly possible, that's what http://couscous.io and http://php-di.org use for example (e.g. here: https://github.com/CouscousPHP/Couscous/blob/master/website/CNAME)

You have to put the CNAME file in the `website/` directory though (or the template directory you configured). If you are using a default template you can't (in that case copy

[2015-07-19 17:45] #105 closed

[2015-07-19 19:53] mnapoli commented on #106
Glad you like it! Regarding your problem could you try running it with verbose: add the `-v` flag (`php couscous.phar deploy -v`). I'm wondering what this error message means:

    The filename, directory name, or volume label syntax is incorrect.

Maybe with verbose you'll have a detail of the command line that is run by couscous, and you can try to run it manually to see if it works.

[2015-07-19 19:55] mnapoli commented on #106
The command seems to simply be `git checkout -b gh-pages` (see https://github.com/CouscousPHP/Couscous/blob/master/src/CommandRunner/Git.php#L34) so it's pretty simple.

Could you try moving to the temp directory (in your example it was `C:\Users\D.J\AppData\Local\Temp\cou81D9.tmp`) and running the command manually?

[2015-07-19 19:56] mnapoli commented on #107
Yes it is possible, it works in both files :)

[2015-07-19 19:56] #107 closed

[2015-07-19 20:04] snipe commented on #105
Ahh, that makes sense. Would you mind if I created a PR to add that to the couscous docs? (It's obvious now that you mention it, but it might be helpful for some.)

That again for this package. It's managed to turn my FOSS project docs into a thing of beauty :)

[2015-07-19 20:05] mnapoli commented on #105
I would definitely merge it go ahead!

[2015-07-19 20:24] romovs commented on #107
Hmm I must be doing something wrong then, but the following doesn't seem to work:

couscous.yml
```foo: bar```

default.twig
```{{ content|raw }}```

page.md
```hello {{ foo }} world```

The generated page.html contains "hello {{ foo }} world" instead of "hello bar world"

[2015-07-19 20:34] mnapoli commented on #107
Ahh sorry I didn't catch that detail: `hello {{ foo }} world` is a twig syntax, it doesn't work in Markdown. You can use the variable in Twig templates however!

[2015-07-19 21:06] snipe opened #110 "Feature: Searchability?"
This may be a crazy thing to suggest, but the only (and I do mean only) thing missing from Couscous is the ability to search within the docs. Obviously, server-side tech is right out, since it's hosted on Github Pages, but what if the build process churned out a one-page file that we could feed into Javascript, which could then provide a type-ahead type of searching, where the results point to the

[2015-07-19 21:13] romovs commented on #107
Ah I see, thanks!
It's a shame though, as there are many situations where certain things are just begging to be defined as
variables; like product versions which are often repeated on multiple MD pages and tend to change frequently...

But in any case, figured out a workaround which seems to solve this - string replace on the content:

couscous.yml
```foo: bar```

default.twig
```{{ content|replac

[2015-07-19 23:02] cyberbit commented on #106
Interesting. Ran again with verbose:

[code]

Unfortunately, no more helpful info.

So, I reviewed your code (yay open source) and stepped through the deploy command, running each part as I went, until I got here ([Git.php#L60](https://github.com/CouscousPHP/Couscous/blob/master/src/CommandRunner/Git.php#L60)):
[code]
I was running in git bash at this point, so it seemed to work. When running in C

[2015-07-20 09:05] mnapoli commented on #107
Nice idea. The reason it doesn't work in Markdown (and there is no plan to add it *yet*) is that it would couple you to Couscous (then the Markdown wouldn't work with any other tool).

Couscous was meant to be least intrusive, unlike other static website generators which force directory layouts, file names, custom syntax in markdown, etc. onto you. So I'm not too keen on changing that :/

[2015-07-20 09:20] wysow commented on #107
Just my 2 cents, your solution is kind off the "official" way to do that, maybe adding it to the docs as a tip could be cool, what do you think @mnapoli?

[2015-07-20 10:31] mnapoli commented on #107
Yep it could be great to document it!

[2015-07-20 10:37] mnapoli commented on #110
Yep it would definitely be awesome! There's already this issue about it though: #63 I will link you comment

[2015-07-20 10:37] #110 closed

[2015-07-20 10:37] mnapoli commented on #63
Merged #110 into this issue, copying the comment:

[2015-07-20 10:38] mnapoli commented on #110
By the way http://docs.snipeitapp.com looks really good!

[2015-07-20 10:39] mnapoli commented on #106
Well if it works then it's a fix! Thank you for debugging that ;) Do you have time to create a pull request?

[2015-07-20 11:32] cyberbit commented on #106
Yea, hopefully I'll work on it today so we can see if it works!

[2015-07-20 15:31] mnapoli opened #112 "Links in Markdown are not rewritten when multiple links per paragraph"
Example:

[code]

Only one of those links will be rewritten to `.html`.

Reported in https://github.com/PHP-DI/PHP-DI/issues/281

[2015-07-20 15:33] #112 closed

[2015-07-20 15:34] mnapoli commented on #104
Will close until further information.

[2015-07-20 15:36] #106 closed

[2015-07-20 22:15] snipe commented on #110
Thanks! It's all thanks to you! <3

![tumblr_nr4wo0unyd1s373hwo1_400](https://cloud.githubusercontent.com/assets/197404/8788819/156dbda8-2ef2-11e5-898e-209169542b0d.gif)

[2015-07-20 22:47] snipe commented on #63
Maybe something like Tipue in the template? We'd just need to generate the JavaScript object if using it in static mode (which is of course the time-consuming bit)

http://www.tipue.com/search/docs/?d=1

If it was used in live mode (versus static), we wouldn't even need to generate that object tho.
http://www.tipue.com/search/docs/?d=5

[2015-07-21 00:55] snipe commented on #63
FYI, I got Tipue working on my docs:
http://docs.snipeitapp.com/search.html?q=config

It's not all polished yet, but it's getting there. Nice middle-ground for search without backend scripts.

[2015-07-21 03:12] snipe commented on #63
Sorry for all the posts. I ended up writing a blog post about my setup which I thought you might like. http://snipe.net/2015/07/sexy-documentation-from-markdown-with-couscous-and-tipue-on-github-pages/

[2015-07-21 05:42] mnapoli commented on #63
Wow awesome! Thanks!

[2015-07-21 05:44] snipe commented on #63
![sagan-awesome](https://cloud.githubusercontent.com/assets/197404/8793822/cf034ab0-2f30-11e5-9f27-57dee2ee7c1d.gif)

[2015-07-21 05:48] mnapoli commented on #90
Was fixed by #113!

[2015-07-21 05:48] #90 closed

[2015-07-21 07:06] wysow commented on #63
@snipe Thanks, that's a cool feature indeed!

[2015-07-21 07:07] snipe commented on #63
@wysow My pleasure!

[2015-07-22 23:28] stevenlyons commented on #47
Hi, I'm looking forward to giving Couscous a try.

Is there a specific PHP version I should use on the Mac? I've tried with 10.10.4 default version and the latest from homebrew but got the above error with both.

[code]
---

[code]

[2015-07-23 08:06] mnapoli commented on #47
Hi @stevenlyons, I use Couscous on Mac without any problem :/ I wonder what is causing the issue with the invalid date.

FYI this warning:

is a warning that appears when PHP has not been configured. It can be ignored (even though it's annoying), or fixed easily by configuring PHP (google).

I'm reopening the issue to fix the date problem.

[2015-07-23 08:12] mnapoli commented on #47
Actually I just realized (going through Symfony's code) that the error is a result of the warning… So by fixing PHP's timezone configuration it should make the error disappear.

[2015-07-23 08:12] #47 closed

[2015-07-23 16:25] stevenlyons commented on #47
That worked. I added the date.timezone configuration and it now runs the web server without an error. Thank you.

[2015-07-26 06:19] cyberbit opened #115 "Deploy from Windows problems"
Here's the dump from `php couscous.phar deploy -v` on Win8.1:

[code]
Need to catch some Zs, hopefully I'll look at this tomorrow. I'll update when I find something.

[2015-07-26 07:36] mnapoli commented on #115
Thanks for the report. What I see so far:

[code]

It seems the commit message "Website generation with Couscous" (from [here](https://github.com/CouscousPHP/Couscous/blob/master/src/Deployer.php#L111)) is being interpreted by git as a path. The command run (see [here](https://github.com/CouscousPHP/Couscous/blob/master/src/CommandRunner/Git.php#L39)) is:

[code]

Could you try running this comman

[2015-07-26 07:37] mnapoli commented on #115
Ah could it be simply the quotes? Like in #111

[2015-07-26 11:52] cyberbit commented on #115
Definitely the quotes. I'll submit a pull request later today or tomorrow with the changes.

[2015-07-26 13:21] mnapoli commented on #115
Fixed by #116

[2015-07-26 13:21] #115 closed

[2015-07-26 13:33] mnapoli commented on #115
FYI I released v1.2.0, thank you!

[2015-07-26 13:55] cyberbit commented on #115
Awesome! Glad I could help. :+1:

[2015-07-26 14:17] cyberbit commented on #115
I'm pleased to report it's working now! The deploy runs smoothly. The only problem I'm seeing is that the script has trouble getting rid of the temporary directory once it's done:

[code]

I'm able to remove it manually, and the push still works. It might be related to the [running permissions of PHP](http://stackoverflow.com/questions/20840937/symfony-2-3-failed-to-remove-file-with-php-composer-p

[2015-07-27 14:30] nicosomb commented on #74
:+1:

[2015-07-27 14:33] nicosomb opened #117 "`couscous generate` generates external links for menu"
Hi there!

I use https://github.com/CouscousPHP/Template-Dark for wallabag documentation.

When I generate the documentation locally (with `couscous generate`), links in the menu are external links. My main problem is that I want to embed the generated documentation into wallabag archive (https://github.com/wallabag/documentation/issues/65).

Nicolas

[2015-07-27 14:48] mnapoli commented on #117
Hi!

Mmh I think I understand. There is the [`baseUrl` variable](http://couscous.io/docs/configuration.html) that can be set in `couscous.yml` however:

- I don't know what happens if set to something empty (i.e. does that work when opening the html files from disk?)
- it's not practical because it means changing it on and off when deploying vs generating for local usage…

Here is an idea: a new C

[2015-07-27 14:56] nicosomb commented on #117
If I set to empty, I have no CSS.
If I set to ".", I have CSS only on index.

[2015-07-27 15:36] cyberbit commented on #74
:+1: Definitely would be nice.

[2015-07-27 16:07] mnapoli commented on #117
Ah right that makes sense, all links (incl. resources) are loaded with an absolute path (that's why we need the baseUrl). To make it relative might be quite some work I guess as we need to compute it based on the directory/subdirectory of each page, but it might be better in the long term as it would remove the need for `baseUrl` completely.

[2015-07-29 15:43] #67 closed

[2015-07-29 15:44] mnapoli commented on #95
Was fixed in #109

[2015-07-29 15:44] #95 closed

[2015-07-29 15:48] mnapoli commented on #70
Pending in https://github.com/ziadoz/awesome-php/pull/434

[2015-07-29 15:48] #70 closed

[2015-07-29 17:17] mnapoli commented on #74
Done in #118! Tested and works, I've added it to http://couscous.io and will be pushing it online shortly!

[2015-07-29 17:18] mnapoli commented on #74
Actually sorry it'll be online when 1.3.0 is released ;)

[2015-07-29 17:18] #74 closed

[2015-08-11 06:52] rolies106 opened #119 "Need to set default timezone"
I get this error when run preview command :

[code]

Looks like you need to set default timezone at your script if machine is not define default timezone.

[2015-08-11 07:26] mnapoli commented on #119
Thanks, we could indeed do something like this:

[code]

[2015-08-12 04:56] rolies106 commented on #119
Yeap, that would be great, but for quick fix I already edit my php.ini and set `UTC` as default timezone :)

[2015-08-13 16:59] cyberbit commented on #119
:+1: @rolies106's solution worked for me, as well.

[2015-08-26 08:39] snipe opened #120 "Support for versions"
Hi! Is there any chance that Couscous will support versioned documentation at some point? (I could obviously build a version picker into the template, but something more automated for generation would be awesome.)

Thanks!

[2015-08-26 08:59] mnapoli commented on #120
Hi! I agree this would be great too, there are no plans that I know of at the moment. This might be a bit challenging to implement, but I haven't thought that through much.

[2015-09-06 23:24] sergiovilar opened #121 "home.twig not being loaded on custom template"
Hello,

I have a `default.twig` file and a `home.twig`.
When I open the homepage couscous shows me my README into the `default.twig` layout.

What I need to do to get the `home.twig` showing in the home?

[2015-09-07 07:21] wysow commented on #121
Hello,

I'm not sure but maybe you forgot to use this in the head of your README file:

[code]

[2015-09-07 07:23] wysow commented on #121
You can find the documentation here: http://couscous.io/docs/templates.html#additional-layouts

[2015-09-07 10:18] mnapoli commented on #121
:+1: that's what you need to do :)

[2015-09-07 10:18] #121 closed

[2015-09-07 13:37] sergiovilar commented on #121
Oh, that's right. Works fine now, thank you!

[2015-09-07 15:20] sergiovilar commented on #121
@mnapoli There's a way that the index webpage load another file than README.md? Maybe `docs/index.md`?

[2015-09-07 15:36] wysow commented on #121
@sergiovilar I don't think so at the moment, as stated here: http://couscous.io/docs/faq.html#do-links-works-between-pages the README file is the `index.html` generated file, but it could be a cool feature to add... Feel free to send a PR if you wish.

[2015-09-07 15:39] sergiovilar commented on #121
@wysow okay, thank you!!

[2015-09-09 21:06] vikramkakkar opened #125 "Menu is not vertically scrollable"
I am (trying out) _couscous_ for some documentation that I need to create. Being from java/android side, I can't tell if the scroll-behavior for *menu* is missing or disabled. I would appreciate if you could shed some light on this.

I am using the default (Template-Light) theme files locally from: [Link](https://github.com/CouscousPHP/Template-Light). Not sure if its important: I have only been u

[2015-09-10 08:50] mnapoli commented on #125
Hi, this is a design choice of that specific template. Either the menu is scrollable with the page, either it's not and that allows to have the left menu always visible (regardless of your vertical position in the page). The former was chosen (because it's a starter template, so it's not necessarily meant for documentation with loads of pages).

You are of course welcome to create your own templat

[2015-09-10 08:50] #125 closed

[2015-09-13 21:42] mnapoli commented on #74
Released in [1.3.0](https://github.com/CouscousPHP/Couscous/releases/tag/1.3.0).

[2015-09-14 09:38] nicosomb commented on #74
Available on our documentation: http://doc.wallabag.org/en/ \o/ Thank you @mnapoli !

[2015-09-14 10:03] mnapoli commented on #74
Looks great!

[2015-09-14 13:59] cyberbit commented on #74
:+1: Nice!

[2015-09-14 20:24] JayHoltslander opened #126 "Install issues."
Running:
``curl -OS http://couscous.couscous.phar``
Results in:
``curl: Remote file name has no length!``

Installing via the global installation of Composer works. But running

``couscous preview``

results in:

``-bash: couscous: command not found``

What am I missing here?

[2015-09-14 20:36] mnapoli commented on #126
Hi! I'm curious as to where you found the instructions but the correct URL is:

[code]

You can also download it manually: http://couscous.io/couscous.phar

If you install using Composer, you must set up global composer dependencies in your `PATH` variable which is a little more work (instructions: http://akrabat.com/global-installation-of-php-tools-with-composer/).

[2015-09-14 22:10] mnapoli commented on #126
I'm closing, please comment if there is another issue.

[2015-09-14 22:10] #126 closed

[2015-09-14 22:20] JayHoltslander commented on #126
I apologize. I made a typo.

FYI
``curl -OS http://couscous.io/couscous.phar``
results in
``curl: (56) Recv failure: Connection reset by peer``

Will download manually and try.

[2015-09-14 22:30] JayHoltslander commented on #126
Server running on 127.0.0.1:8000

    Warning: array_map(): An error occurred while invoking the map callback in
    phar:///Users/jay/Desktop/couscous.phar/src/Model/WatchList/WatchList.php on line 39

    [InvalidArgumentException]
    "2015-09-14 22:21:19" is not a valid date.

    preview [--target TARGET] [--] [<address>] [<source>]

Attempting to open http://localhost:8000/ or 127.0.0.1:8000

[2015-09-15 09:11] mmiglier opened #127 "Displaying the application version does not work"
The --version option gives `Console Tool` as output instead of the current version:
[code]

[2015-09-15 09:13] mmiglier opened #128 "Footnote links are not renamed from markdown"
When using footnote links, those links are not translated from .md to .html:
[code]

[2015-09-15 12:15] mnapoli commented on #126
`curl -OS http://couscous.io/couscous.phar` works fine for me, maybe it's a network issue. Downloading it directly (by clicking on the link) works fine for me too.

For the second issue it's because (I guess) you haven't configured PHP's default timezone. That happens when you install PHP, that setting should be configured manually. This is a know issue with PHP that will be resolved in PHP 7 (not

[2015-09-15 13:56] cyberbit commented on #126
@JayHoltslander I had this same problem, the workaround in #119 worked for me.

[2015-09-15 14:25] mnapoli commented on #127
True, for now we don't handle the version in the code because it would require to keep it up to date before tagging and making new releases. If we had some kind of release generation script, we could add it in there but that's not the case today. If we had to do it manually I know I would forget it half the time, so IMO it's better not to have a version number (for now) than have a wrong one :)

L

[2015-09-15 14:29] mnapoli commented on #128
Is it standard Markdown? It seems parsedown-extra has tests for it but it's maybe not exactly the same syntax: https://github.com/erusev/parsedown-extra/blob/5829ab17e68bd3f3c3da0633647b7874e5784385/test/data/compound_footnote.md

[2015-09-15 17:50] mmiglier commented on #128
I think so, it is described in the sintax [here](http://daringfireball.net/projects/markdown/syntax#link).
And It works on Github.

[2015-09-15 19:03] mnapoli commented on #128
Interesting, I didn't find it via a quick googling for commonmark. I guess this is an issue with Parsedown-extra :/

[2015-09-15 19:45] mmiglier commented on #128
It seems to be supported by parsedown-extra demo [website](http://parsedown.org/extra/).

Just tried to parse this:
[code]

[2015-09-17 05:23] JayHoltslander commented on #126
Thanks guys. I'll try that asap.

On Tue, Sep 15, 2015 at 6:56 AM D.J. Marcolesco <notifications@github.com>
wrote:

[2015-09-21 18:51] JayHoltslander commented on #126
@mnapoli FYI: Spoke to our network guy re: My download troubles... This was his response:
<img width="829" alt="screen shot 2015-09-21 at 11 47 19 am" src="https://cloud.githubusercontent.com/assets/2069960/10001517/f85731a4-6056-11e5-9ca0-07b4069b5180.png">

[2015-09-21 20:11] mnapoli commented on #126
@JayHoltslander thanks that's interesting. Since http://couscous.io is hosted by GitHub (on GitHub pages), I guess that's a DoS protection from them (nothing much we can do :/).

[2015-09-23 08:05] vmayoral opened #129 "Not Found"
Great work with Couscous @mnapoli, seriously!.

I decided to give it a try both in Mac OS and Ubuntu but haven't been successful. My status:
- PHP is fine and activated
- `php -S localhost:8000` works ok
- `couscous preview 127.0.0.1:8000` seems to be ok:
[code]
But then when accessing that in the browser:
![captura de pantalla 2015-09-23 a las 10 04 30](https://cloud.githubusercontent.com/assets/

[2015-09-23 15:34] vmayoral commented on #129
@imuguruza can you verify this as well?

[2015-09-23 16:41] mnapoli commented on #129
Hi @vmayoral, is there a README.md file in the repository you are generating? Are you using a custom template (if not sure, please show the content of your `couscous.yml`) ? Is there anything in the `/Users/Victor/Template-Light/.couscous/generated` directory? Try running simply `couscous preview` just to be sure ?

[2015-09-23 17:14] vmayoral commented on #129
Hi @mnapoli,

I'm using the Template-Light sources.

Yeap:
[code]

[code]

[2015-09-23 17:44] mnapoli commented on #129
Mmh I don't think this specific repository would work as a Couscous project because it's a template (quite a specific issue… because of [this line](https://github.com/CouscousPHP/Template-Light/blob/master/couscous.yml#L2) the root directory is considered to be the template, so couscous doesn't parse any markdown file there).

You might have better luck trying another repository, or even an empty

[2015-09-23 17:50] vmayoral commented on #129
Thanks @mnapoli. Just tried https://github.com/snipe/snipe-it/tree/documentation and that did it.

[2015-09-23 17:50] #129 closed

[2015-10-11 09:53] mnapoli commented on #119
Was fixed by #130

[2015-10-11 09:53] #119 closed

[2015-10-20 20:38] williamgilpin commented on #126
I just wanted to add here that I am also a new user (who does not have PHP experience), and I also ran into both of these issues when trying to follow the "Getting Started" instructions on my OSX Yosemite system. My fixes involved downloading `couscous.phar` through my web browser and adding `date.timezone = "America/Los_Angeles"` in my `php.ini` file, which I found in `/etc/`

Everything works no

[2015-10-21 08:34] mnapoli opened #131 "Document possible "curl" error when installing Couscous"
In #126 it has been reported (at least twice) that GitHub may make `curl` fail for downloading Couscous.

It seems to be a DDoS protection:

![](https://cloud.githubusercontent.com/assets/2069960/10001517/f85731a4-6056-11e5-9ca0-07b4069b5180.png)

What we should do is add a little sentence in the docs/website (wherever curl is documented) to explain that if curl fails, users can download `couscous

[2015-10-21 08:35] mnapoli commented on #126
@williamgilpin thanks for the feedback. FYI the timezone problem has been fixed by https://github.com/CouscousPHP/Couscous/pull/130/files but this hasn't been released yet.

I've opened #131 to improve the documentation for future new users.

[2015-11-01 09:46] natanavra opened #132 ""php couscous.phar preview" error "InvalidArgumentException""
Last lines of the cli output:

Warning: date(): It is not safe to rely on the system's timezone settings. You are *required* to use the date.timezone setting or the date_default_timezone_set() function. In case you used any of those methods and you are still getting this warning, you most likely misspelled the timezone identifier. We selected the timezone 'UTC' for now, but please set date.timezon

[2015-11-01 14:28] mnapoli commented on #132
Hi, the first warning was reported in #119 and fixed. I have just released a new version (1.3.2), could you try with this version and tell me if it's working better?

[2015-11-01 14:29] mnapoli commented on #126
FYI #130 has been released in [1.3.2](https://github.com/CouscousPHP/Couscous/releases/tag/1.3.2).

[2015-11-01 14:29] mnapoli commented on #119
This has been fixed in [1.3.2](https://github.com/CouscousPHP/Couscous/releases/tag/1.3.2).

[2015-11-09 19:55] IngwiePhoenix opened #133 "Configure target branch in couscous.yaml"
I'd like to suggest that the `couscous.yaml` should have a key to configure the target branch, to be able to auto-deploy to an organization page.

I am planning on having a `source` branch to store the source and use `master` for the actual output. For now, I have to keep remembering the `--branch master` part, but it would be useful to have that branch be configurable through the config file.

[2015-11-21 15:52] bradparks commented on #99
hey! i've got the same problem going on and can't let couscous delete the contents of the master branch as I have a "CNAME" file there that maps it to a custom domain (required by Github pages if mapping your domain). Is there another way to do this? I can publish to the `gh-pages` branch fine.... thanks!

[2015-11-21 15:53] bradparks commented on #99
ahhh - i see this may be covered in your docs... my bad! thanks!

[2015-11-24 21:53] pedra opened #135 "no running"
My english is bad! :)
This not running in Windows 10 - see a image!
![capturar](https://cloud.githubusercontent.com/assets/4870358/11381757/00949f6c-92e5-11e5-8230-6802fab2a3ea.JPG)

[2015-11-24 21:56] mnapoli commented on #135
Hi, could you have a look at the content of the `G:\www\couscous/./generated` folder? It should contain HTML files, and more specifically a `index.html`. I think Windows support was fixed in #115, but maybe something is still missing… I'm wondering if the forward slashes (`/` instead of `\`) can create an issue.

[2015-11-24 22:53] pedra commented on #135
Ok. I'll test it!
Thank you.

[2015-11-24 23:27] pedra commented on #135
My Windows (w10) accepts both "\" to "/". I tested directly on a PHP script. I believe that this is another problem related to the internal PHP server.

I will copy the GitHub (clone) and test here on my machine.

Sorry for my English... (google translate :P)

[2015-11-24 23:54] mnapoli commented on #135
No problem. Please list what's inside the directory I mentioned: is there an index.html? Try copying those generated file into a web server, or try running `php -S 127.0.0.1:8000` into that folder manually.

[2015-11-25 00:00] pedra commented on #135
![image](https://cloud.githubusercontent.com/assets/4870358/11384418/afaa15a2-92f6-11e5-8e39-dd85572da7ee.png)
No file index.html !!

[2015-11-25 23:33] mnapoli commented on #135
Darn, that indeed sounds like a Windows compatibility issue. I can't really help much on my end :/

[2015-11-27 18:12] pedra commented on #135
Ok!
Windows :(

[2015-11-28 03:53] cyberbit commented on #135
I'll jump in, as I've worked with Windows problems. @pedra What's does the directory with the source files look like? I guess for you it would be G:\www\couscous.

[2015-11-30 23:51] cyberbit opened #136 "[Windows] bash: /dev/tty: No such device or address"
More Windows problems, I'm afraid.

I recently did a clean install of Windows 10 to solve some ongoing problems with my laptop. I restored most of the original apps and data to their original locations, but some are still not installed as I haven't needed them yet.

In any case, running `php "C:\Users\djmar\OneDrive\Development\Web\Couscous\couscous.phar" deploy -v` fails at GitHub login:
[code]
I

[2015-12-01 03:47] cyberbit commented on #136
**Update**: Looks like pulling the old "run `git push origin gh-pages` in the temp directory" trick works, interestingly:
[code]
I tried this command twice, it pushed the site correctly both times. Couscous had the same problem (same stack trace) both times as well.

[2015-12-01 21:25] pedra commented on #135
After running "php couscous.phar preview", produces this (annexed) file:

[2015-12-01 21:34] mnapoli commented on #136
Sounds like the `git push` command is failing because it can't get a tty to let you input your username/password :/

[2015-12-02 00:17] pedra commented on #135
My folder looks after "couscous.phar" (attached - to rename "couscous.zip")
[couscous.pdf](https://github.com/CouscousPHP/Couscous/files/49204/couscous.pdf)

[2015-12-02 04:58] cyberbit commented on #136
@mnapoli But what does that *mean*? :P Am I doing something wrong? Do you have an idea of what might cause that kind of error? My thought is a network configuration problem on my computer, perhaps a firewall. I'll do some more testing and see if that's the case.

[2015-12-02 08:44] mnapoli commented on #136
I have no idea. The git command is run by `exec` (see here: https://github.com/CouscousPHP/Couscous/blob/master/src/CommandRunner/CommandRunner.php#L24), that seems to fail to bind a tty on Windows.

[2015-12-02 08:45] mnapoli commented on #136
Maybe it's worth trying replacing `exec` by another command like `passthru`, or trying to figure out why it doesn't work on Windows. I did a quick search yesterday and couldn't find anything useful.

[2015-12-11 08:17] #132 closed

[2015-12-11 09:35] bobmulder commented on #91
I am curious about this progress? Any updates?

[2015-12-11 09:38] bobmulder commented on #120
Maybe we should widen this feature: implementing prefixes. They could be used to work with languages (/en/your-page.html) and versions (/1.0/your-page.html).

What do you think about that?

[2015-12-11 09:38] TamasBarta commented on #91
I have to admit, I forgot this. Soon I'll have time, and take a look again, but if it's urgent to you, and you pick this up, we won't be upset, I guess :)

[2015-12-11 09:40] bobmulder commented on #91
I'm interested in couscous and looking if I can help somewere... Just curious about your results.... Let me know when you have more information, hopefully I'll be able to join ;)

[2015-12-11 14:19] mnapoli commented on #120
@bobmulder that's a good idea indeed, but if versions are done using git/tags and languages using sub-directories then it might not be easy to group under the same logic/code.

[2015-12-11 14:36] bobmulder commented on #120
I would love using branches/tags to organize versions. You are the main-developer so you can tell if this is difficult. To me it seems possible so I'll try to take a look at the possibilities ;)

[2015-12-11 15:03] mnapoli commented on #120
I think it might require a bit of work (fetching all tags/branches/versions and putting them in subdirectories) but it's doable.

[2015-12-30 09:52] #133 closed

[2016-01-05 07:35] elijahb opened #141 "Add steps to couscous.yml"
I was checking out how to add new functionality (in this case to parse an API Blueprint md file), and while it seemed really easy to add a new step for this, as far as I see I should modify Application/config.php to add this new step (if there is a way to add it to the yml file, is not in the docs).

So to make it really extensible, I think it should be possible to add steps to the yml file, then

[2016-01-05 07:47] bobmulder commented on #141
This is very interesting. I've discussed this with Matthieu before but he argumented that couscous should be complete enough (please ask him to explain it clear ;)).

However, in your situation it would be very very helpful. I would like to think about a way to realize it...

I understand you wrote something to document APIs? Can you share your code via Gist? I am very interested!!!!

[2016-01-05 08:43] wysow commented on #141
Yes this idea seems interesting for me too, but I also understand @mnapoli point of view, so maybe a solution could be to allow Couscous to be extended by external dependencies...

Anyway, @elijahb if you managed to use Couscous to document an API, like @bobmulder I would appreciate if you can share some ressources... ;)

[2016-01-05 09:02] mnapoli commented on #141
Hi! To sum up the current status on Couscous internal architecture:

- it was meant to work [as modules where each module can add new steps](https://github.com/CouscousPHP/Couscous/commit/97ee89e5e23eb4bd54302ee9ba8f209478abf011)
- external modules could be registered and thus extend Couscous

What I came to realize is that it's super hard to manage the order of the steps. E.g. imagine you add you

[2016-01-05 09:16] wysow commented on #141
Humm... I'm thinking about a "quick and not so dirty solution" for this, what about using a `yml` file to handle the correct list of steps, and import it in the `config.php` file, using a default file if no custom is set (like `steps.yml` and `steps.default.yml`)? Or using the default configuration file...

Maybe I do not see what could be the problems about doing this... What do you think about t

[2016-01-05 09:20] mnapoli commented on #141
If users are forced to redefine the complete list of steps (for example in their `couscous.yml` or other file in their repo) then there is a high chance it will not be kept in sync when Couscous has more steps/features.

[2016-01-05 09:21] wysow commented on #141
Yes you're right so maybe using a merge mechanism between the 2 files?

[2016-01-05 09:57] bobmulder commented on #141
What about this in your `couscous.yml`:

[code]

We could make multiple callbacks instead of `before` and `after` only...

[2016-01-05 10:26] mnapoli commented on #141
That's what there used to be (see the commits I linked) but it's more complicated than that: for example you can't process markdown files if they haven't been loaded yet, but you can't process them after they've been converted to HTML. And then after that they are dumped to disk.

[2016-01-05 11:51] elijahb commented on #141
Ok, I see I opened a big issue here (everything always seems easier at first).

@bobmulder I did not create it, there is a (work-in-progress) standard http://apiblueprint.org to write RESTful API's in markdown. They already have a cli command that converts that to JSON, and there is also a [PHP wrapper] (https://github.com/hendrikmaus/drafter-php). So my idea was to write a step that would load th

[2016-01-13 20:33] cyberbit opened #142 "Include option in couscous.yml"
I have a project with many folders in the main repository directory, but only one directory for the Markdown documentation, so `exclude`-ing every single folder seems like a waste. I think it would be value added if there was an `include` option that will *only* include the folder(s) you specify.

[2016-01-14 13:22] Zolli commented on #65
Is this necessary to only works if github integration is enabled?
What if we allow to define a new configuration value:

(I use Phabricator link structure in this example)

[code]

In your example the link for ths issue will be the following: http://management.company.com/T123

[2016-01-14 15:52] cyberbit commented on #65
+1 @Zolli's idea. I'm currently trying to implement Couscous into a new release documentation system, but we don't use GitHub at my organization. Having customizable issue links when deploying to something other than GitHub would be fantastic. If I find time, I might be able to submit the pull request to do both GitHub and custom integration, as it's important to me.

[2016-01-14 18:13] mnapoli commented on #65
Sounds fair, and doable I guess. There has been a new release hours ago of the [commonmark parser](https://github.com/thephpleague/commonmark), and with the new AST and extension system it seems way easier than before to implement that. For example there is a "twitter auto-linker" plugin: https://github.com/thephpleague/commonmark-extras/blob/master/src/TwitterHandleAutolink/TwitterHandleParser.ph

[2016-01-14 18:14] mnapoli commented on #142
:+1: good idea.

[2016-01-15 16:42] Zolli commented on #65
Currently, i try to create a Step that replaces issue numbers but i run into a problem with this :)

- # is already occupied by header definition in markdown

There is 2 possible soluton:

1. Use a custom prefix
`ISSUE-#NUMBER_HERE` be nice.

2. Provide user a way to customize issue matching regex.
So, we provide a default scheme (like in previous example), and if the user provides a custom one th

[2016-01-15 16:47] Zolli opened #143 "Tests are broken on windows"
Hi,

tried to run test suite on windows, unit test suite works correctly, but integration tests is broken.
Quick look on this, the biggest problem is hardoced `/` characters. I try to submit a pull request for this if found some time.

[2016-01-15 17:04] mnapoli commented on #143
Thank you, a PR would be most welcome indeed.

[2016-01-15 17:06] mnapoli commented on #65
@Zolli I haven't looked into the details of the parser but isn't that possible to register `#` only when it's not the first character of the line?

[2016-01-15 17:13] Zolli commented on #65
@mnapoli i think of that, but what if the user want to place the issue number to the beginning of the line? That is a big limitation.

Example:
[code]

[2016-01-15 17:23] mnapoli commented on #65
Actually I just realized that `#123` is not interpreted as a title so it's perfectly valid to turn it into an issue link. Try it out at http://spec.commonmark.org/dingus/

[2016-01-15 18:22] bobmulder commented on #143
Can be resolved by defining an `DS` (directory seperator) and using it...

[code]

Now use `DS` instead of `/`

[2016-01-16 10:24] mnapoli commented on #143
I'm going to close this issue as I don't consider it a bug with Couscous itself and there are other tickets about Windows support. Feel free to make a pull request to make test run on Windows.

[2016-01-16 10:24] #143 closed

[2016-02-08 08:03] avargaskun commented on #136
@cyberbit I was running into the same problem. Using the advice from [this other post](https://github.com/atom/atom/issues/8984#issuecomment-165722062) fixed it for me:

[code]

[2016-02-09 13:55] bobmulder opened #145 "Add Couscous to Awesome-php"
Probably Couscous should be added to the documentation-section of the awesome-php list: https://github.com/ziadoz/awesome-php#documentation

I didnt want to create a PR because I don't know if the owner agreed ;) So it's just a suggestion!

[2016-02-09 14:03] wysow commented on #145
Seems legit for me so :+1: ;)

[2016-02-09 14:31] mnapoli commented on #145
I'm definitely +1, FYI there is this PR: https://github.com/ziadoz/awesome-php/pull/329 But since it has conflicts, it might be worth creating another *and* adding Couscous to the list of documentation tools (not static website generators) as you suggested.

[2016-02-09 15:04] bobmulder commented on #145
Let me know if you want me to create one ;)

[2016-02-09 15:08] mnapoli commented on #145
Yep go ahead!

[2016-02-09 15:21] bobmulder commented on #145
Just created a PR: https://github.com/ziadoz/awesome-php/pull/586

[2016-02-09 16:34] wysow commented on #136
@cyberbit can we close this one if @avargaskun trick is working for you?

[2016-02-09 16:52] wysow commented on #128
@mmiglier Just tried it with your example and got this:

[code]

Seems like the right output, does that means that we can close this one?

[2016-02-09 17:00] cyberbit commented on #136
@wysow Certainly, but I'll have to try it first. I'll update once I test later today.

[2016-02-09 17:16] wysow commented on #127
@mnapoli what do you think about doing this in the compile script maybe? Using a version.txt as container for the current version number maybe?

[2016-02-09 17:38] wysow commented on #117
@nicosomb @mnapoli and what about using something like `baseUrl: https://www.wallabag.org/documentation` so that the generated Wallabag documentation can be embed in the official Wallabag website?

[2016-02-09 21:34] mnapoli commented on #145
Done! thanks @bobmulder

[2016-02-09 21:34] #145 closed

[2016-02-09 21:35] #131 closed

[2016-02-09 21:47] mnapoli commented on #117
@wysow I think the issue is that when using a baseUrl it only works once: where it's deployed. If you want to let users download the generated HTML documentation, then all links will point to the online version.

Ideally we should generate relative links I guess, or we could also pass a custom base url when generating so that we can generate multiple versions of the same documentation without havi

[2016-02-09 21:48] mnapoli commented on #127
@wysow that would be great but we would have to keep it up to date, and I know I will forget about it :p

[2016-02-09 22:15] cyberbit commented on #136
@wysow Looks like that's worked wonderfully, thanks for the solution!

[2016-02-09 22:15] #136 closed

[2016-02-10 07:14] wysow commented on #127
@mnapoli I'm wondering if this could be linked to #149 and maybe use Github releases to have a more robust solution...

[2016-02-10 07:17] wysow commented on #117
OK I see what's needed here... (and BTW the Wallabag doc seems to use Couscous at this time http://doc.wallabag.org/ ;))

[2016-02-10 07:42] mnapoli commented on #117
@wysow see https://github.com/wallabag/documentation/pull/90

[2016-02-10 07:48] mnapoli commented on #127
Yes that would be great, but keep in mind that version numbers might not always follow in the correct order (e.g. if there's a bugfix in an older maintained version), so taking the latest release (by date) isn't always the "highest" release.

[2016-02-14 11:40] wysow commented on #81
@mnapoli maybe we should "merge" this with #149 in some way no?

[2016-02-14 12:16] #142 closed

[2016-02-14 12:25] mnapoli commented on #81
@wysow can we first merge #149? We can go step by step if #149 works today that's already a great improvement, and then we can think about this issue without blocking #149? Let me know.

[2016-02-15 07:49] wysow commented on #81
Yes sure we can go this way and see how we can improve the #149 mechanism...

[2016-02-15 22:12] #102 closed

[2016-02-16 21:13] bobmulder commented on #141
(@elijahb) To support manual steps I have created events today: see #150

[2016-02-29 15:39] JonathanMace opened #151 "Pages aren't rebuild if their contents are unchanged but the menu contents change"
I'm using couscous for a project site here: http://brownsys.github.io/tracing-framework
I've tweaked one of the out-of-the box templates and I'm using it here: https://github.com/jonathanmace/pivottemplate

I'm in the process of writing and deploying the documentation for my project.  This consists of writing some pages, deploying them, writing some more pages, deploying them, and so on.  When I r

[2016-03-01 09:15] wysow commented on #151
Hello @JonathanMace and thanks for trying Couscous!

I just tried to update the menu items on the Couscous website itself locally and it worked as expected... (but please note that there is **no** live reload so you need to manually refresh the browser tab)

But there is also a static menu for Couscous website on top of the page which is set directly in template files, and therefore can't be updat

[2016-03-02 13:11] mnapoli commented on #151
I'm confused you are specifically talking about `couscous deploy` here? I.e. when you deploy some pages are not rebuilt with the new menu? Do you get the same thing when using `couscous preview` locally?

[2016-03-02 15:07] JonathanMace commented on #151
I don't get the same behavior when I use couscous preview; this is only when I'm using couscous deploy.

[2016-03-02 15:41] mnapoli commented on #151
I can see only one commit in the `gh-pages` branch in your repository: https://github.com/brownsys/tracing-framework/commits/gh-pages Did you generate the website more than once?

[2016-03-02 15:49] JonathanMace commented on #151
I've been deleting the branch before deploying each time.

I just typed this up, and tried it:

However, as it turns out, the test page did correctly appear in the menu everywhere when I cleared my browser cache.  Chalk this one up to stupidity on my part.

Thanks for the responses @mnapoli @wysow

[2016-03-02 16:56] mnapoli commented on #151
:+1: glad to know

[2016-03-02 16:56] #151 closed

[2016-03-03 13:28] UFOMelkor opened #152 "No travis-auto-deploy without PHP-Version"
When running `vendor/bin/couscous travis-auto-deploy` I'm getting this error: `This version of the documentation is already deployed`

It does not appear when I execute `vendor/bin/couscous travis-auto-deploy --php-version $TRAVIS_PHP_VERSION` instead.
I guess it's because of the [default PHP version that is assumed](https://github.com/CouscousPHP/Couscous/blob/f36e5a72acacadc4b95ee8c130b96b947fe2

[2016-03-03 14:06] wysow commented on #152
Hello @UFOMelkor and thanks for trying Couscous!

We made php 5.4 as the default value as it's the minimum required version of php for Couscous as set [in composer.json](https://github.com/CouscousPHP/Couscous/blob/master/composer.json#L18).

So if your project is using another php version you should be using the `php-version` option to set default version. When Travis runs are set on multiple php

[2016-03-03 17:46] UFOMelkor commented on #152
Sorry, my fault. I assumed that the `--php-version` must be set only if travis runs with multiple PHP versions. Thank you for clarification and for this great tool. I love it :+1:

[2016-03-03 17:46] #152 closed

[2016-03-03 17:48] wysow commented on #152
NP, always better to ask!

[2016-03-10 18:30] mmiglier commented on #128
the problem was actually with this example:

[code]

which should be translated to:

[code]

[2016-03-11 07:46] wysow commented on #128
@mmiglier just tried this example on latest commit in `master` branch and it's working as expected... Seems like it's no more a bug for me.

[2016-03-11 08:35] mmiglier commented on #128
OK cool thanks this can be closed then.

[2016-03-11 08:35] #128 closed

[2016-03-15 08:23] wysow commented on #135
@pedra can you tell us if this is still relevant with latest `master`?

[2016-03-30 08:10] #91 closed

[2016-04-02 19:30] Firehed opened #155 "Reference-style links to .md files aren't resolved to the generated url"
Using a [reference-style link](https://daringfireball.net/projects/markdown/syntax#link) fails to automatically convert a markdown file url to its html counterpart, which is inconsistent with the [documentation](http://couscous.io/docs/faq.html) indicating that links should work between pages.

That is to say:

[code]
renders
[code]
instead of
[code]

In practice it's not really a huge issue, but

[2016-04-03 10:27] mnapoli commented on #155
Right, I'm guessing that [this class](https://github.com/CouscousPHP/Couscous/blob/master/src/Module/Markdown/Step/RewriteMarkdownLinks.php) only rewrites classic links and not reference-style links. I'm guessing #134 (i.e. replace Parsedown with CommonMark) would help since we could get rid of the regex and directly edit the AST that was generated from the markdown source. But for that we need to

[2016-04-03 10:58] mnapoli opened #156 "Replace Parsedown Extra (Markdown Extra) with CommonMark"
Couscous supports [Markdown Extra](https://michelf.ca/projects/php-markdown/extra/). To achieve that, the parser used is [Parsedown Extra](http://parsedown.org/extra/).

However we might want to switch to using the [League/CommonMark](http://commonmark.thephpleague.com/) parser because:

- [CommonMark](http://commonmark.org/) is a new and improved standard for Markdown
- League/CommonMark parses M

[2016-04-03 11:23] mnapoli commented on #156
I have added tests for the features described above in #157.

[2016-04-03 11:23] mnapoli commented on #155
On the "CommonkMark" topic I've opened #156.

[2016-04-04 07:44] wysow commented on #156
Sounds great to release this as version 2.0 for me, `Definition Lists`, `Footnotes` and `Abbreviations` could definitely implemented later as you said...

[2016-04-14 15:48] lucascherifi commented on #63
:+1:

[2016-04-14 15:52] mnapoli commented on #63
I think a very good candidate here would be Aglolia's DocSearch: https://community.algolia.com/docsearch/

Basically you give them your website's URL, they crawl it, you insert their search bar/Javascript and you're done.

[2016-04-14 16:58] lucascherifi commented on #63
A nice and easy way indeed. But the documentation should be public but it's unfortunately not my case.

[2016-04-14 18:37] bobmulder commented on #63
Dus it work dynamically? Else I would suggest to use a built-in library/tool

[2016-04-15 07:52] mnapoli commented on #63
@lucascherifi indeed it wouldn't work with private documentation.

@bobmulder What do you mean by "dynamically"?

I have registered for setting up the search for http://php-di.org we'll see how it goes.

[2016-04-15 08:03] bobmulder commented on #63
Sorry I wasn't clear. I don't get how the process works. Do I have to register at docsearch everytime when I do `couscous deploy`, or will I register only once, and will it work dynamically on new deploys?

[2016-04-15 08:07] mnapoli commented on #63
You register once. It doesn't seem automated from what I see, someone at Algolia had a look at the website and its HTML/CSS structure to configure on their crawler where the menu is, where are the titles, etc. I guess they crawl the website periodically (every week ?).

[2016-04-15 08:09] bobmulder commented on #63
Ah okay. Sounds good! In that case we can do it on ourselves, and add probably some docs to the couscous website...

[2016-05-05 07:54] SMILEORIGIN commented on #136
I add the text "[credential]
    helper = wincred" in the config but it also cant't run
Please tell me why? I take 2days to make hexo + github blog,I'm so tired

[2016-05-05 12:20] wysow commented on #136
@SMILEORIGIN can you provide more info so we can help, where did you add the
[code]
snippet?

What is exactly your error message?

And if the error message is different from the one in the first message of this thread, please open a new issue.

And thanks for trying out Couscous.

[2016-05-09 18:21] cyberbit opened #159 "Override couscous.yml configuration from command line"
This doesn't have to be super complex or super smart in my case, but with modifications it could be pretty powerful. More on that in a bit.

I have a project using Couscous that has three instances on three different servers. Documentation is generated out of a repository separate from the project. Because I use customized resources grabbed from the current server, I have to generate three differe

[2016-05-10 06:39] mnapoli commented on #159
The first option would be very simple to use and understand, I like it! Maybe something a bit more standard like this:

[code]

I think that would be compatible with Symfony's syntax.

[2016-05-10 14:36] cyberbit commented on #159
Sounds good to me! If I find time I will certainly try my hand at adding this.

[2016-05-11 06:13] wysow opened #160 "SEO optimization"
I was wondering if we could implement something like what is described (here)[https://github.com/blog/2162-better-discoverability-for-github-pages-sites] for better SEO?

Just an idea for now, but what do you think guys?

[2016-05-11 08:08] mnapoli commented on #160
That would be great. However I'm not sure how much metadata we can provide to the template since there is not much "reflection"/introspection on the content itself. E.g. to get the title of the current article we need #156. And the title/description of the website isn't in an "official" configuration key too.

We could defined such configuration keys though… E.g.

[code]

All that would be optiona

[2016-05-11 08:21] wysow commented on #160
I'm not an SEO expert neither, but as far as I know we could set some defaults in `couscous.yml` file and some specific in yaml front-matter for pages, so we could have something like this at the end:

displayed title: `front matter title` - `couscous.yml default title` OR `couscous.yml default title` only if no `front matter` provided.

description: `front matter description` if exist, `couscous.

[2016-05-11 08:45] mnapoli commented on #160
I think if it's just a matter of standard title and description it doesn't have a lot of added value IMO. It's already possible to do that with variables today and it's simple. In Github's Jekyll plugin they seem to add a lot of stuff, but I don't know if we can do something similar. Maybe it would be worth listing SEO tags that can be used, so that we can see which one we could fill and how.

[2016-05-11 08:48] wysow commented on #160
Sure let's work on that because, yes, SEO is a little more than that for sure... ;)

[2016-05-11 12:42] mnapoli commented on #63
Good news, I just finished integrating the search in http://php-di.org

You can find the pull request here: https://github.com/PHP-DI/PHP-DI/pull/407

It works using Algolia. Styling the popup was a bit hard but it works really well.

[2016-05-11 12:46] cyberbit commented on #63
@mnapoli It's so pretty! :heart_eyes:

[2016-05-11 12:56] wysow commented on #63
@mnapoli Good job! I'm wondering if we could add a default search engine based on that in default Couscous templates (using `couscous.yml` to define the api key and other parameters)?

[2016-05-11 14:57] mnapoli commented on #63
@wysow I don't think it would be very useful because adding the JS is the easiest part. Here is a summary of what I did:

- signup on Algolia's website
- get an answer, tech people set up a crawler for the website
- add CSS classes in order for the documentation menu to be friendly to their crawler (several back and forth) - that was asked by Algolia by email
- create a search input
- paste the JS

[2016-05-11 14:59] wysow commented on #63
OK got it, seems doable like this for sure, let's go for some documentation... (and maybe implementation of it for Couscous website itself ;))

[2016-05-12 07:17] bobmulder commented on #63
Compared to Mkdocs, this is still 'too much' work to do to get searching ;). Don't know how they managed to do it, but it's defaultly integrated... Would be great to have that too, but this discussion is fired before, so I agree to this suggestion. Would be great to provide some docs for it?

[2016-05-12 21:01] mnapoli commented on #63
@bobmulder They seem to be using [Tipue](http://www.tipue.com/search/), so I guess they build a JSON index file and then feed it to the JS search engine (like suggested in this issue initially).

I agree Algolia is a little bit more work, but it works right now ;) If anyone wants to add search with Tipue that would also be an awesome addition.

[2016-05-12 21:06] snipe commented on #63
I have a tutorial on using Tipue with Couscous here, if it helps anyone:
http://snipe.net/2015/07/sexy-documentation-from-markdown-with-couscous-and-tipue-on-github-pages/

[2016-05-31 07:15] bobmulder commented on #63
I think its worth to add usage of Algolia to the documentation and close this one? ;)

[2016-06-09 14:26] bobmulder opened #167 "GitLab integration"
Since GitLab supports [GitLab Pages](http://docs.gitlab.com/ee/pages/README.html), I would love to use CousCous there...

I have no idea if there changes needed to get this working... Any ideas on this?

[2016-06-09 14:40] wysow commented on #167
Seems like http://docs.gitlab.com/ee/pages/README.html#how-.gitlab-ci.yml-looks-like-when-using-a-static-generator is a good starting point, if your project does have Couscous as dev dependency that could be doable.

Then just using it in the Gitlab configuration file like said in the documentation should do the trick.

Maybe just try it and come back with more detailed problems/errors if any... ;

[2016-06-09 15:09] mnapoli commented on #167
:+1: maybe it works out of the box, after all Couscous only pushed changes in a `gh-pages` branch so if you use the branch Gitlab is expecting that should do it.

[2016-06-09 15:12] bobmulder commented on #167
I'll try when needed ;) closing for now and I'll put some feedback in time ;) Looking at @mnapoli his answer, it should work...

[2016-06-09 15:12] #167 closed

[2016-06-14 14:05] pnowy opened #168 "Problem with deploy command"
Hi,

I was trying to use Couscous as documentation tool for my project. Currently I'm using the Jekyll to generate page documentation so I have gh-pages branch and some content on that branch(my project site http://pnowy.github.io/NativeCriteria/).

At first when I've run the deploy command some content was generated to the gh-pages branch but the page wasn't replaced (during the process I've rece

[2016-06-14 15:59] mnapoli commented on #168
Hi! Have you managed to get it working? I see http://pnowy.github.io/NativeCriteria/ looks really good. Back to your issues:

My guess is that the generation went well (it happens in `.couscous/generated`) but the deployment failed because it tried to create a temp folder (see https://github.com/CouscousPHP/Couscous/blob/master/src/Deployer.php#L61-L69) but didn't have the rights.

I don't remembe

[2016-06-15 08:27] pnowy commented on #168
Hi,

the current NativeCriteria page was built with Jekyll but I wanted to switch to Couscous because I easily could keep everything in one repo so I prepared my own template (mentioned https://github.com/pnowy/CouscousNativeTemplate) but the NativeCriteria page doesn't use it yet (I still use Jekyll - read next so you will figure out why).

Today I've tried to execute ```couscous deploy``` one mo

[2016-06-15 12:17] cyberbit commented on #168
I can answer your PS. Use `couscous generate` to run the full generate script, stopping right before deployment. It will output with the proper links to `.couscous/generated`.

[2016-06-16 16:47] mnapoli commented on #168
I know we had troubles before with Windows, see for example #135 which is still open (or also https://github.com/CouscousPHP/Couscous/pulls?q=is%3Apr+windows+is%3Aclosed), so it might be it (else I'm using the worflow you are trying every week - linux/mac - and I don't have any issue). Unfortunately I don't have a Windows machine to test Couscous at all on it.

[2016-06-17 19:14] pnowy commented on #168
Ok, on free time I will prepare ubuntu vm and check how this command work there. If there won't be a problem I will try debug the code on windows machine.

In meantime I will use ```couscous generate``` mentioned by @cyberbit and write my own script for deploy.

Did you notice mentioned problem with git pull of gh-pages branch? Are you planning fix for it?

[2016-06-17 20:05] mnapoli commented on #168
Right, I'm leaving on holidays tomorrow so feel free to send a pull request ;)

[2016-07-05 11:12] caugner opened #172 "RFC: Cache template."
**Couscous currently doesn't cache the template.**

This has two disadvantages:

1. Preview isn't really (*) possible when offline.
2. It retrieves data that it already retrieved before.

(*) It is possible though to checkout the template directory locally and provide this path as a `file://` url.

Caching the template repository would solve these problems:

[code]

[code]

What do you think of th

[2016-07-06 16:28] ijerry opened #173 "Just want a template for preview."
I am just looking for a template for preview mode.
What dose a yml configuration file look like for this ?

[2016-07-09 15:19] mnapoli commented on #173
Hi, have you tried the default setup? It comes out of the box with a template that works for preview (as well as deploying).

[2016-07-09 15:19] #173 closed

[2016-07-09 15:42] mnapoli commented on #172
Sounds like a very good idea! (sorry for the delay)

[2016-07-09 15:44] mnapoli commented on #172
(FYI there's the [`Git`](https://github.com/CouscousPHP/Couscous/blob/master/src/CommandRunner/Git.php) helper for doing git operations)

[2016-07-14 11:01] adrienrn opened #174 "Mimics Jekyll `_data/` directory"
One thing that I like when building a documentation website is having data files – in yml, json or csv sometimes – and use those files to generate page parts. It lets me update the documentation easily from version to version of my project.

### Use case / Jekyll way:

I've got a simple jQuery plugin that has some options and some events. Jekyll lets me do that by storing files in `_data/`. I've g

[2016-07-14 11:26] mnapoli commented on #174
You are right that right now you can put such data in `couscous.yml`. However, as you said, it can quickly get crowded.

I think it would make sense to allow importing other YAML files in `couscous.yml`, that would allow achieving what you want right?

[2016-07-14 11:38] adrienrn commented on #174
As I see it, there's two options:

1) Import files in `couscous.yml`, making them available to all templates, as you said.
2) Load all files from a given directory (whose path be defined in `couscous.yml`; not imposing it like Jekyll to follow Couscous philosophy.

I think the first is closer to Couscous philosophy though, loading files from wherever we want and is lighter. The only _downside_ is

[2016-07-14 11:40] mnapoli commented on #174
Yes the first option is better for Couscous I think, a big PITA I found in Jekyll and similar tools is how everything is magical (aka convention). Importing each file explicitly (even if it can be a  good amount of them) is better IMO.

[2016-07-15 10:42] adrienrn commented on #174
One small addition: Jekyll is capable of loading plenty of formats: yml, json, csv.

If YAML seems obvious choice for the everyday life, plenty of tools output only json or csv. One thing that pops my mind is Google Analytics or Wordpress analytics that outputs CSV only.

[2016-07-15 14:28] mnapoli commented on #174
Let's stay simple first: importing a config file is a good way to solve the problem at hand. Couscous in itself isn't really a data analytics tool.

[2016-07-22 12:25] adrienrn commented on #107
Sorry to bring up an old question but this something that would be nice to have in couscous.

I understand your stance on decoupling markdown files from the build tools/syntax but I use this features extensively to render long and repetitive parts of the docs using `for` loops;
https://github.com/adrienrn/jquery-sheeper/blob/master/docs/index.md

Is this still something that you won't add to Cousc

[2016-07-24 12:37] bobmulder opened #176 "Docker container"
I've been trying to create a website which took me too much time because I had to install all kinds of dependencies. Is there a docker image available to get started easily?

[2016-07-25 06:19] mnapoli commented on #176
Hi, I'm not aware of a docker image but that would be a great idea. However I'm not sure I understand: why not use `couscous.phar` directly? It doesn't require anything except PHP.

[2016-07-25 06:23] mnapoli commented on #107
@adrienrn I see you are making extensive use of such features, it looks much more like a custom language than a markdown document. For that kind of needs I would use a pre-processor (that can be run automatically by Couscous with:

[code]

[2016-07-27 09:00] bobmulder commented on #176
Well, I needed bower, lesscs and composer (with php requirements). So for users who use docker it would be too hard. It would be awesome to run `docker-compose run couscous preview` instead of loading all needs...

[2016-07-27 09:04] mnapoli commented on #176
:+1: I think that goes out of the scope of a default Couscous install, but why not create such image anyway. Feel free to create it and send a pull request to the docs?

[2016-07-27 10:14] bobmulder commented on #176
Sounds good... I'll think about it ;) I was curious if something already existed ;)

[2016-07-27 10:14] #176 closed

[2016-08-01 19:08] blee1170 opened #177 "Unable to use template in git enterprise with two factor"
I am having a problem storing my template in our internal git enterprise and having other repo's use it. When I do the couscous preview it prompts for my username and password but fails because we also have two factor enabled.

Is there a way that it can use a git token to pull down the template?

[2016-08-01 20:17] blee1170 commented on #177
Well I figured out a way passed it. I can use my git username/token in the URL and that works.

Example:
https://superman:alskdf09823aasfa3@git.example.com/Couscous-template/

[2016-08-01 20:27] blee1170 commented on #177
I guess it would be nice to pass the username/password as a CLI option, or to have it be a setting in the yaml.

[2016-08-01 20:37] cyberbit commented on #177
Does deploying work at all for you? That usually asks me for login credentials, and I have two-factor enabled (on GitHub.com), but it works for me without configuration (with my normal username and password).

[2016-08-01 20:40] blee1170 commented on #177
Deploying does work for me. But I think it has something to do with my config that I setup a long time ago. It never prompts me when I do a git clone from my command line. Only when Couscous tries to pull down the template.

It might be something with the user space when the application is running and it cant access my git configs. But I don't know. This would be the next problem I see when I move

[2016-08-10 14:59] blee1170 opened #178 "How to ignore .md in a link?"
Couscous is changing a external URL that ends in .md to .html (like is should) but in this case its to a repo outside of where couscous is running, so we need the .md. Can we flag the url string somehow so couscous will ignore it and set the link to the correct .md path?

[2016-08-10 15:27] wysow commented on #178
Hum... for me it sounds like an optimization we must do... Let me check that ASAP and come back to you.

[2016-08-10 15:36] cyberbit commented on #178
This is the first time I've seen a valid reason for the labels "bug" and "enhancement" to be applied to the same issue. :+1:

[2016-08-10 15:42] blee1170 commented on #178
So we came up with a hack to get around it. Your regex is looking for the whole '.md'. We can use ascii to swap out the . and then use % encoded value: '%2Emd'. This gets it around the current problem, but there should be a better way to do it.

[2016-08-13 11:25] mnapoli commented on #178
That's unfortunate, I don't see a lot of options. We could check that the file exists in the repository? Hopefully it won't be tricky with relative paths and absolute…

[2016-08-13 11:44] mnapoli commented on #177
Couscous uses the remote URL you used to clone the repository. If you have 2factor enabled you should clone repositories using SSH to avoid authentication prompts.

[2016-08-13 11:44] #177 closed

[2016-09-06 16:07] blee1170 opened #179 "Lists stop only two deep."
I am having problem with lists. In the markdown I have them 3 or 4 deep. But when Couscous renders it, the lists stops at the second one. Is there a flag or something that I can pass so it will render the lists as deep as needed?

I am using the Read the doc template, if that is the problem.

[2016-09-06 16:11] mnapoli commented on #179
Couscous uses Parsedown to parse the Markdown. Could you try it out in their demo: http://parsedown.org/demo and see if you can reproduce it?

If you can, can you paste an example?

[2016-09-06 16:14] blee1170 commented on #179
I can reproduce it there:

[code]

In markdown it lists correctly:
* list 1
  * Sub list
    * sub sub list

In parsedown the sub list and sub sub list are at the same level.

[2016-09-06 16:41] blee1170 commented on #179
Found a work around, looks kind of silly, but it works.

If you add a ordered list to the unordered then you can get more levels:
[code]

Which looks like this:

* list 1
    * sub list
       1. sub sub list

Couscous will render it. But its not ideal.

[2016-09-06 17:01] mnapoli commented on #179
Indeed that's an issue with Parsedown. It seems to require indentation to be 4 spaces (I always use 4 spaces so I didn't see this problem yet):

[code]

Could you report this to Parsedown directly?

[2016-09-06 17:02] cyberbit commented on #179
Looks like this is a pre-existing issue: https://github.com/erusev/parsedown/issues/270. I was able to use the workaround in there to get correct parsing (4 space indentation):

[code]

[2016-09-06 17:07] blee1170 commented on #179
Yeah, each sub needs to have 4 spaces indent from the parent, not two. I guess thats okay.

[2016-09-06 17:32] mnapoli commented on #179
:+1: I'll close the issue here since it's open in Parsedown

[2016-09-06 17:32] #179 closed

[2016-09-08 16:28] namaless opened #180 "Event Dispatcher"
Hi all, the event dispatcher already in mind to add in the project?

I need to change the markdown parser (add block types and more) and with a good place for events I think is easy and not need to replace the class or anything in the original code, what you think?

[2016-09-09 07:18] bobmulder commented on #180
I came up with this idea before, like #150...

[2016-09-09 12:19] namaless commented on #180
Yeah I have already read your work (great) but I wanna know the situation from the main developers, but I don't think they wanna do it.

I still working with a complete rework of this, for a moment a clean job, after check if is what I want I can try to share my experience here but I don't think they want change the plans...

We need to waiting :)

[2016-11-02 15:47] WheelyWonka opened #181 "couscous preview : too many arguments"
Hi there !

First time with couscous, when i launch `couscous preview ` here's what i get :

Tried `couscous preview 0.0.0.0:8000`, same output. Any ideas ?

Thanks !

[2016-11-02 15:54] wysow commented on #181
Hello @WheelyWonka and thanks for trying out Couscous!

Can you try using the `-vvv` flag and paste the output here so we can help you with more details?

Thanks.

[2016-11-02 16:15] WheelyWonka commented on #181
Sure, here's the output :

 () at C:\Users\William Thibault\AppData\Roaming\Composer\vendor\couscous\couscous\src\CommandRunner\CommandRunner.php:29

[2016-11-02 20:27] mnapoli commented on #181
Maybe the path is causing issues, it contains a space: `C:\Users\William Thibault\Desktop\Git\docs`

My guess is that [this](https://github.com/CouscousPHP/Couscous/blob/master/src/CommandRunner/Git.php#L24) ends up running this command:

[code]

?

Maybe we should wrap the path with quotes?

[2016-11-03 09:45] WheelyWonka commented on #181
Damn... *facepalm* Thanks a lot @mnapoli !

[2016-11-03 09:46] #181 closed

[2016-11-12 07:08] iola-lin commented on #135
Hi,
I don't know whether this would help.
I still met this problem when i started try Couscous today.

I tried to add the sources code from [CouscousPHP/Template-Light](https://github.com/CouscousPHP/Template-Light) into my project root directory.
![image](https://cloud.githubusercontent.com/assets/14487547/20236227/18789f96-a8e9-11e6-8fb0-1646e17d3f5a.png)

And in http://localhost:8000 "vendor/bi

[2016-11-18 19:08] geekish opened #183 "Infinite .couscous/generated loop + excludes ignored"
I'm getting an infinite loop of directories e.g. `.couscous/generated/.couscous/generated/...`.

Couscous also appears to be ignoring my excludes, e.g. `bower_components`. I tried both the %gitignore% and listing every directory/file and neither worked. I'm not sure if this is the cause of the infinite loop, a side effect, or an unrelated bug.

I tried using both my global install and a fresh, loc

[2016-11-20 10:40] mnapoli commented on #183
@geekish that's weird, `.couscous` is added manually here: https://github.com/CouscousPHP/Couscous/blob/master/src/Model/Project.php#L136 Is that a public repository that I could try? Are you running the command with the `--target` option or with a different directory specified (i.e. running the command outside of the repository directory)?

[2016-11-20 15:57] geekish commented on #183
I did a bit of retesting yesterday and I seem to be able to prevent the infinite loop from happening if I run couscous clear before couscous preview/generate. I was using the default directory.

I'm noticing though that excludes are not taken into account in the LoadAssets step or the ProcessTwigFiles step, where new instances of Finder are used.

[2016-11-21 07:32] mnapoli commented on #183
Right because (IIRC) the template is in a sub-directory, so excludes apply to the root directory, do you have customized the template directory? And what about the 2 other questions?

[2016-11-22 16:06] geekish commented on #183
I was trying to preview a template in its own directory using `template: .`, so it wasn't in a subdirectory. I can definitely see how that could cause problems, but I saw it in the repo for Template-Light so I thought I'd see if it worked.

As for running the command I was used a global composer install of couscous, and couscous.phar, both from directly inside the template repository, with no spec

[2016-12-14 13:26] PadmaPeddigari opened #184 "unable to push code using Git wincred"
Hi,

I have created a web app with slot and enabled local git using ARM  cmdlets.
now for pushing code to slot, what am doing is creating win cred and pushing it.
but am getting this error
git : bash: /dev/tty: No such device or address
\7-Provision-GitPublish.ps1:107 char:13
+             git  push $GitSiteName master -f
+             ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          :

[2016-12-14 17:10] mnapoli commented on #184
Hi, I'm sorry but I don't think I can help, it doesn't seem related to Couscous itself but rather the other tools you are using.

[2016-12-20 11:58] stephenharris commented on #178
Why couldn't Couscous ignore's external URLs by checking the domain against the `baseUrl`?  You could always enter a HTML URL if that's what you wanted in the published site.

[2016-12-23 17:07] cyberbit commented on #159
Alright, I have something that seems to work well. I just need to work on tests. If I post a pull request here, will it track updates as I push them? I have not done many pull requests here, I'm afraid.

[2016-12-25 21:44] mnapoli commented on #178
@stephenharris that's a good idea, maybe we could also check whether the URL is relative or absolute to another domain?

[2016-12-25 21:45] mnapoli commented on #159
@cyberbit yes absolutely, open a PR and you can keep pushing new commits to the same branch, they will appear in the PR (the diff will be updated).

[2017-01-05 12:06] stephenharris commented on #178
@mnapoli Yes, so if the url (relative or an absolute) evaluates to something under the baseUrl it is parsed. Absolute urls to other (sub-?)domains is ignored. The regex for that would need some thought.

I'm not familiar with Couscous' internals, but happy to attempt a PR if the above seems reasonable.

[2017-01-07 22:53] mnapoli commented on #178
@stephenharris if you want to give it a go, here is the test: https://github.com/CouscousPHP/Couscous/blob/master/tests/UnitTest/Module/Markdown/Step/RewriteMarkdownLinksTest.php and the class containing the regex: https://github.com/CouscousPHP/Couscous/blob/master/src/Module/Markdown/Step/RewriteMarkdownLinks.php (that regex looks fun :) )

I'm not sure I understand fully what you suggest, here

[2017-01-19 12:54] mnapoli opened #188 "Auto-release PHAR from tag"
I've read this interesting bit on how to generate a phar file in Travis CI and upload it as a GitHub release: https://andreas.heigl.org/2017/01/18/building-a-phar-automated/ That could be applied to Couscous to simplify releasing.

[2017-01-19 19:34] wysow commented on #188
Sure this seems great! Will try to find some time to take a look at it...

[2017-01-23 10:36] wysow commented on #188
@mnapoli Seems like we will need to find another tool because of this: https://github.com/clue/phar-composer/blob/master/composer.json#L15... I'm searching right now... Maybe https://github.com/box-project/box2 which is the replacement for `phine/phar` which is abandoned...

[2017-01-23 10:50] wysow commented on #188
Ok `box2` project is also using abandoned dependencies, so maybe https://github.com/box-project/box2-lib is the right one...

[2017-01-23 11:59] mnapoli commented on #188
@wysow why not call [`bin/compile`](https://github.com/CouscousPHP/Couscous/blob/master/bin/compile) directly? It already works today so I don't see why this needs to be changed for the auto-release on Travis

[2017-01-23 12:50] wysow commented on #188
Sure we can do this, but what about abandoned dependencies? Should we keep them?

[2017-01-23 13:02] wysow commented on #188
Another tool we could use is https://github.com/methylbro/compiler (I will try to find time to contribute BTW), it will be released stable on https://github.com/millesime/millesime at some point...

[2017-01-24 08:22] mnapoli commented on #159
Done in #187

[2017-01-24 08:22] #159 closed

[2017-02-01 23:43] spkane commented on #178
Leaving absolute URLs alone, is probably the correct solution here.

I do however, have a clean workaround for the time being. HTML tags are acceptable in markdown and get left alone by couscous.

Changing a link like this:

    [Contributors](https://github.com/CouscousPHP/Couscous/blob/master/CONTRIBUTING.md)

to this:

    <a href="https://github.com/CouscousPHP/Couscous/blob/master/CONTRIBUTIN

[2017-02-05 18:16] mnapoli commented on #188
OK I didn't understand that we are already using abandoned dependencies today. However they still work for now, I'm not against changing that though. Maybe it should be done separately from the auto-release since it's not related?

[2017-03-01 12:28] eliranmal commented on #136
this issue stems from [an issue on git-for-windows][1]

[1]: https://github.com/git-for-windows/git/issues/327

[2017-06-07 15:13] errogaht opened #194 "Adding include tag/shortcode to include markdown files"
Hello! im using couscous to generate docs and it will be great to use something like this
`{% include ../parts/api-rules.md %}` so i want to change content of partial and cous cous will update all html with this partial

[2017-06-09 07:21] indrakaw commented on #183
Same here. I was testing https://github.com/CouscousPHP/Template-Basic
And here the result:
![screenshot from 2017-06-09 14-07-19](https://user-images.githubusercontent.com/9590878/26964924-d89e4ca2-4d1d-11e7-833a-0a234fd38981.png)

Pretty big. You may check the disk usage: `du -h .` @ https://u.teknik.io/EvACG.txt

As @geekish said, after I removed these on `couscous.yml`
[code]

It works fine.
[

[2017-08-03 17:14] palmiak commented on #135
I'm using Couscous on W10 without any problem.

theme files shouldn't be in root directory - look at my example http://screencloud.net/v/AicXt - and in couscouse.yml:
[code]

[2017-08-11 14:48] lianhub opened #195 "Totally lost: how to configure for github deployment?"
I am using Couscous in Windows-7.
I read Couscous documentation, but totally lost on Github deployment:
* Why cloning into a stupid TEMP folder?
[code]
* How to configure Github repo, username/password? in couscous.yml?

* Do I have to clone my Github repo first, then work inside this clone?

Thanks!
Jerry

[2017-08-11 20:54] lianhub opened #196 "left-menu-bar is not displayed correctly after publishing on Github"
When I run "couscous preview" and check on: http://127.0.0.1:8000, left-menu-bar is displayed correctly.

But after I "couscous deploy" to Github, left-menu-bar is totally wrong, please check:
              https://lianhub.github.io/test/

what could be the problem?
Thanks!

[2017-08-11 21:21] mnapoli commented on #196
Hi @lianhub, it seems you configure an `http://` URL in your config but when deployed it's in `https://`. So the browser blocks loading insecure assets (i.e. the CSS). You can see that in the web developer tools.

I think if you change `http` to `https` it should be fine.

[2017-08-11 21:21] #196 closed

[2017-08-11 21:22] mnapoli commented on #195
Hi there, the temp folder is not stupid, please be nice with it :)

Given you opened #196 it seems you made it work, I'll be closing this.

[2017-08-11 21:22] #195 closed

[2017-08-12 14:24] lianhub commented on #195
Thanks a lot!

I figured out the working procedure by guessing, it is not that straightforward. So I think the documentation should specify more details.

I was thinking to delete this post, but seems that we can not delete issues in Github, right?

[2017-08-12 14:25] mnapoli commented on #195
Nope, that's okay :)

[2017-08-12 14:35] lianhub commented on #196
Thanks a lot!

I follows your instructions, and it works well with operations in Linux:
https://lianhub.github.io/try/  (As you see, left-menu-bar displays well.)

However, when I operates in Windows, left-menu-bar gets wrong again. (I may  provide details later in a new issue).

So, do you have a better Couscous revision for windows? Thanks again!

[2017-08-12 15:52] mnapoli commented on #196
Have a look at #135, Windows is an issue :/

[2017-08-13 15:05] pedra commented on #135
Still does not work!
I'll apply myself to solve this.
![image](https://user-images.githubusercontent.com/4870358/29250815-9bf8a150-801f-11e7-8ef9-e821ac7f6d2e.png)

[2017-08-13 18:05] lianhub opened #197 "what is wrong with my .travis.yml ? (fatal: unable to access 'https://[secure]@/ )"
I tried to do auto-deploy with Travis, but all failed!
Could anyone check my .travis.yml file?
https://github.com/lianhub/day/blob/master/.travis.yml

Basically, the error message from Travis is:
[code]
Thanks!
Jerry

[2017-08-14 19:28] lianhub commented on #197
I just figured it out. Please close or delete this issue!
Thanks!

[2017-08-14 19:28] #197 closed

[2017-08-15 15:09] lianhub opened #198 "one step to make template "Light"/"ReadTheDocs" perfect ?"
I like the demo site: http://gnugat.github.io/redaktilo/doc/01-tutorial.html
* It uses template "Light"
* Unfortunately, you **can NOT click** the index-item to jump on specific section
 * (For example, you click index "Manipulating a Line", but nothing happen)

So I forked this site: https://lianhub.github.io/day/doc/01-tutorial.html
* I just change to template "ReadTheDocs"
* Now you can click i

[2017-08-15 15:13] mnapoli commented on #198
Hi, I had a look at https://lianhub.github.io/day/doc/05-extending.html and this is all valid HTML (`ul` inside another `ul`), what you have to do now is CSS to display it however you want to.

There might be specific CSS in "ReadTheDocs" that make the `ul` display like this.

[2017-08-15 18:33] lianhub commented on #198
mnapoli:

Thanks for your hint!
I just add my own CSS file: https://lianhub.github.io/day/doc/01-tutorial.html
* Now we see the indentations.
* It is OK for me, but seems ugly than demo: http://gnugat.github.io/redaktilo/doc/01-tutorial.html
* So if we can have click-jump working, I still prefer to the demo.

In order for click-jump to work, I found that we just need to add <id="link-text">:
* suc

[2017-08-15 20:51] mnapoli commented on #198
Hi, I'm sorry but I can't provide help with HTML or CSS on this issue tracker, this is not related to Couscous and this is notifying a few people that are monitoring this issue tracker.

[2017-08-15 20:51] #198 closed

[2017-08-28 09:35] erichard opened #199 "Allow env vars in couscous.yml"
Useful when running in a Docker container

[2017-10-15 00:06] jayesbe opened #201 "Use a Branch for the Template Url"
Hey Guys.. hopefully a quick question.. is it possible to use a branch for the template url?

I am passing it a GitHub repo.. but dont want it to pull the template from the master branch.

[2017-10-15 05:23] mnapoli commented on #201
Hi @jayesbe, no unfortunately at the moment it is not possible. Only a simple clone is performed when the template is fetched:

https://github.com/CouscousPHP/Couscous/blob/86279bc384eb98e65f228f306c65e26fea524b98/src/Module/Template/Step/FetchRemoteTemplate.php#L72-L81

[2018-01-14 16:47] dantleech opened #202 "[travis-deploy] PHP Notice: Deprecated option "php-version" called."
I guess probably harmless for now:

[code]

https://travis-ci.org/phpactor/phpactor/jobs/328763447#L720

[2018-01-14 17:09] mnapoli commented on #202
It seems it's a leftover of #190 (the option was initially deprecated but then that was reverted).

I've opened #203.

[2018-01-14 17:28] #202 closed

[2018-02-22 11:01] Chnapy opened #204 "Couscous merguez"
Hi,

First, thanks for your work.

Well, there is a heated debate in my company, this one having caused a lot of departure. The integrity of the team is now in danger, we need any outside help.
So please, give us your opinion about that:

Is it ok to put merguez in couscous? Can we still call it couscous?

[2018-03-08 20:31] moqmar commented on #63
You might want to try my Mintlook template (https://github.com/moqmar/mintlook-couscous), it uses js-search and an indexer to provide a simple search function.

[2018-03-08 20:39] moqmar opened #206 "Copy additional resources"
Currently it seems like there's no way to include e.g. an image from the source folder, or at least I didn't find it yet. There would be two possibilities:

- Adding a folder, e.g. "assets", which is copied to the output directory, Maybe make this configurable like `includeAssets: ["assets", "images", "..."]`
- Copy all files from folders explicitly mentioned in the `include` configuration option

[2018-03-09 06:34] mnapoli commented on #206
Hi there, images are copied though (https://github.com/CouscousPHP/Couscous/blob/master/src/Module/Core/Step/AddImages.php)?

[2018-03-09 08:01] moqmar commented on #206
Ah, I see, I tried it with an SVG image. It would be great though to add some kind of configurability to that step, or at least some documentation on what files are copied. SVG is definitely missing in my opinion.

[2018-03-09 20:44] mnapoli commented on #206
Feel free to send a pull request to modify this line: https://github.com/CouscousPHP/Couscous/blob/master/src/Module/Core/Step/AddImages.php#L27

[2018-03-12 18:51] eguvenc opened #208 "Adding php native templating"
it would be nice if the use of the native php template system is optional

[2018-03-12 20:28] mnapoli commented on #208
Thanks but this is not something planned at the moment as Twig does the job quite well. Allowing another template engine would introduce unnecessary complexity I'm afraid.

[2018-03-12 20:28] #208 closed

[2018-04-19 23:35] SilenceM59 commented on #194
Hi there.

To get to the actual PHP Code edits, scroll to the bottom.

*Note*
Your original *.md files will NOT be overwritten with the included file. Instead, Couscous includes these files into memory, so the update I made edits the contents before it goes into Memory, parsing these `Short Tags` and including your requested file.

# Folder path for includes
Your includes should be in the folder r

[2018-04-19 23:39] SilenceM59 commented on #194
# Don't do a pull if you update the above file...
If you do get it working, just a heads up, if you `git pull` it will wipe out your changes, and you will have to re-edit the PHP file if you ever need to rebuild your `couscous.phar`.

[2018-05-18 14:51] nklatt opened #211 "section.documentation falls off side of page at size lg"
On the website, the documentation page (http://couscous.io/docs and below), on wide screens the `section` with class `documentation` is either too wide or has the wrong offset. Need to either change class `col-lg-offset-3` to `col-lg-offset-2` or `col-lg-10` to `col-lg-9`.

[2018-05-18 18:15] mnapoli commented on #211
Thank you for the report, would you be able to send a pull request?

[2018-05-22 22:02] #211 closed

[2018-06-01 19:38] ysmithND commented on #104
can this be reopened? I'm having the same issue. It's bizarre because it worked the first time, then I made some updates to the readme files and then I started getting this error.

[code]

[2018-06-02 07:47] mnapoli commented on #104
👍

Maybe [here](https://github.com/CouscousPHP/Couscous/blob/master/src/Deployer.php#L61-L69) we could make a check that verifies that the directory has been correctly created (and else throw an exception). That way it would fail earlier. It would not fix the bug directly but at least it could help narrow it.

[2018-06-06 05:43] andraantariksa commented on #104
`Deploying the website
Cloning  in /tmp/couscous_deploy_C4sbjy

In CommandRunner.php line 29:

  fatal: repository '/tmp/couscous_deploy_C4sbjy' does not exist

`
Same with me

[2018-06-06 06:03] mnapoli commented on #104
@ysmithND and @andraantariksa: is that a new problem? Did it work before? On which OS are you? Have you checked if the directory exists?

[2018-08-06 01:05] pcrov opened #214 "Website's example links to shopping site"
On http://couscous.io/ under "Built with Couscous" the link for Foil points to a shopping site. It should likely be https://foilphp.github.io/Foil/ instead, though the menu there is busted for me and probably not something to showcase.

[2018-08-06 07:17] wysow commented on #214
Thanks for spotting this one @pcrov sounds like the website owner just did let his website go to another person, feel free to send a PR to change that.

[2018-08-24 17:41] chrisforrence opened #216 "Undefined function DI\object() when running couscous preview"
- Operating System: macOS

Going off of the [Getting Started](http://couscous.io/docs/getting-started.html) page, I started by installing couscous/couscous globally, which pulled in 1.6.1 (released March 2017).

[code]

However, when I went to run `couscous preview`, I got the following fatal error:

[code]

It looks like PHP-DI 5.4.4 was a [broken release](https://github.com/PHP-DI/PHP-DI/release

[2018-08-24 17:44] mnapoli commented on #216
Yes that would be great!

[2018-08-25 13:57] Ocramius opened #217 "Allow `symfony/*:^4` components"
As per title, currently couscous is locked onto symfony 3.x

[2018-08-25 21:26] #214 closed

[2018-08-26 14:35] Ocramius commented on #217
That was fast :+1:

[2018-08-29 15:49] ieschwoch opened #221 "Symfony ProcessBuilder not found when running couscous preview"
I downloaded Couscous using compose per the instructions at http://couscous.io/docs/getting-started.html and I get the below error when running "couscous preview":

[code]

Versions running (not sure why the couscous version isn't populating):

[code]

Update: I found that removing Symfony 4.0 support in this line resolves the problem.  I think changing the includes from "ProcessBuilder" to "Proce

[2018-08-29 15:51] ieschwoch commented on #221
[code]

[2018-08-31 07:13] #221 closed

[2018-09-07 18:17] dvliman opened #223 "parse error on vendor/symfony/console/Output/ConsoleOutput.php (line 55)"
I run into this
[code]

after doing
[code]

**But couscous runs fine if I do**
[code]

Is couscous.phar bundling symphony version that had a bug? I can't inspect `usr/local/bin/couscous/vendor/symfony/console/Output/ConsoleOutput.php` as it doesn't appear to be a real filepath.`/usr/local/bin/concous` is a binary.

[2018-09-07 18:28] mnapoli commented on #223
Oh I think I see! I generate the Couscous phar archive on my machine with PHP 7.2, you use 5.6.

I have pushed a commit to force the release to be generated with the lowest PHP version that we support. Could you try again with http://couscous.io/couscous.phar which should be updated now?

[2018-09-07 18:34] dvliman commented on #223
yup, it works now. Thanks for the quick fix!

[2018-09-07 18:34] #223 closed

[2018-09-07 18:40] mnapoli commented on #223
Thank you for the report!

[2018-10-22 16:49] BenCrulis opened #226 "couscous deploy copy error: target could not be opened for writing"
## Context

I made some local changes in my git configuration, played with git submodules and branches and then suddenly `couscous deploy` ceased to work.
I now always get the same error:

[code]
Couscous seems to have the writing permission but the source is a file and the target is a folder.

The content of the .git file in question is
[code]

## What I tried

Couscous preview still works perfec

[2018-10-23 06:03] BenCrulis commented on #226
I found a workaround, it seems to work again by telling couscous to remove the .git file after html generation in its scripts section:
[code]

[2018-10-28 08:49] mnapoli commented on #226
Hi, this is weird, Couscous should ignore hidden directories:

https://github.com/CouscousPHP/Couscous/blob/eee01977d66dd71bff5bb0dbb345e83e552c1129/src/Model/Project.php#L133

so it should not try to copy the `.git` directory at all 🤔

Can you confirm this is what Couscous is doing and this is the problem?

[2018-11-14 14:33] romovs opened #227 "proc_open() expects parameter 1 to be string, array given"
Happens with PHP 7.2.11
Worked previously with PHP 7.1.23
[code]

[2018-11-16 18:42] cyberbit commented on #159
@richoconnell The parsing does not currently support dot properties. It would not be hard to parse out the dot syntax. The particular line is here:

https://github.com/CouscousPHP/Couscous/blob/master/src/Module/Config/Step/OverrideConfigFromCLI.php#L36

And the code context:

[code]

[2018-11-16 19:38] richoconnell commented on #159
@cyberbit ok, thanks for getting back

[2018-11-16 22:50] kanaikimi commented on #227
I'm getting this too, on PHP 7.1.24 and PHP 7.2.12.

[2018-12-10 18:54] rkling01 commented on #227
I have recently received the same error - PHP 7.1.16

[2018-12-16 08:35] dantleech commented on #227
It seems this can be fixed by updating to Symfony Console ^3.0 which passes a string to `proc_open`, the locked version seems to pass an `array`. Not sure why this has become an issue.

[2018-12-19 08:12] #227 closed

[2018-12-19 18:33] nodeJerry opened #229 "Most recent update is causing "Hang on Resolving dependencies through SAT""
Your most recent update is causing my composer problems when installing.

When i do a "php /usr/local/bin/composer.phar  -vvv install"

Reading /var/lib/jenkins/.composer/cache/repo/https---repo.packagist.org/provider-psr$cache.json from cache
Reading /var/lib/jenkins/.composer/cache/repo/https---repo.packagist.org/provider-paragonie$constant-time-encoding.json from cache
Reading /var/lib/jenkins/

[2018-12-19 19:32] mnapoli commented on #229
Oh this is very weird 🤔

Could you paste here an example of a `composer.json` that reproduces this? Is it simply requiring `couscous/couscous`?

[2019-04-09 21:14] alexfornuto opened #230 "Render Markdown files in unique directories."
I'm sure this is an easy PEBKAC error but I'm not finding the solution...

in my project directory I have `/docs/git-faq.md`. When I write to the file Couscous notices:

[code]
But when I go to `http://127.0.0.1:8000/docs/git-faq` I get:

[2019-04-09 21:16] alexfornuto commented on #230
Welp....

For those who are as stupid as me, you need to specify `.html`. So I suppose my question now is, how do I get each markdown file into its own directory?

[2019-04-09 21:22] mnapoli commented on #230
You could write only `README.md` files so those end up as `index.html`. That way you can use directories and skip the `.html` suffix.

(am I correct in my interpretation of your question?)

[2019-04-09 21:29] alexfornuto commented on #230
@mnapoli I'd like to avoid making sub-directories for each page.

All my docs currently live in one `/docs/` directory, and are rendered as `/docs/pagename/` by Sculpin:

`permalink: docs/:basename/`

Does Couscous have an equivalent option?

[2019-04-10 09:10] mnapoli commented on #230
`/docs/pagename/` is a directory, that's how Sculpin does it.

You could also remove the `.html` suffix from your URLs, e.g. `http://couscous.io/templates` is the same as `http://couscous.io/templates.html`.

But to answer your question no there is no such option in Couscous.

[2019-04-10 15:02] alexfornuto commented on #230
If that were the case, wouldn't `http://127.0.0.1:8000/docs/git-faq/` load in the preview the way `http://127.0.0.1:8000/docs/git-faq.html` does?

[2019-04-10 15:15] mnapoli commented on #230
Yes.

[2019-04-10 16:48] alexfornuto commented on #230
It does not, as described above.

[2019-04-10 16:50] mnapoli commented on #230
OK maybe it's the built-in PHP server that doesn't support this.

Let's get straight to the point anyway (as we are looping here): that's how Couscous works. I'm sorry but there is no option to customize that.

[2019-04-10 16:50] #230 closed

[2019-04-10 16:58] alexfornuto commented on #230
'tis a shame. Couscous seemed like a good option for me, but I think this will be a deal-breaker.

[2019-04-13 23:25] sburba opened #231 "Deploy fails if there haven't been any changes"
When running deploy in CI, it would be nice for Couscous to exit cleanly without attempting to deploy if there are no changes.

[2019-04-16 11:07] #231 closed

[2019-05-21 10:40] taophp opened #233 "Couscous deploy should use local account settings when available"
Hi,

I just tried Couscous, and I'm very enthusiastic. But I meet a problem.

I have set some account setting locally in the project like this:
[code]
I _intentionally_ avoid the `--global` option as I use more than one account on the same machine.

The problem is that when I want to deploy with couscous, I got an error:
[code]

I hope it could be fixed soon. Thanks for your work, and hold on guys

[2019-05-27 08:29] StephanMeijer opened #234 "Unable to parse at line 1 (near "YAML")."
Project: https://github.com/linkorb/php-conventions

Trouble might have occurred after changing directory structure.

[code]

[code]

[2019-05-28 15:01] mnapoli commented on #234
The error is not really clear but the step is `ParseMarkdownFrontMatter`

That probably means one of your article/page contains invalid YAML at the top of the Markdown.

[2019-07-09 14:54] BobDeKort opened #237 "Template not used on github pages"
Hello,

First time using couscous but it has been pretty great.
I'm having some problems deploying though, when I preview the site locally everything is fine and works as expected but once I deploy it and got to the website no template is applied.

I have tried with the default template and with the ReadTheDocs template both not doing anything.

You can see the site here: https://nstack-io.github.

[2019-07-10 13:11] mnapoli commented on #237
Hi, if you open https://nstack-io.github.io/documentation/ you will see some files a 404 because of a wrong URL.

You may need to define a baseUrl, see http://couscous.io/docs/templates.html for the documentation.

[2019-07-11 11:16] BobDeKort commented on #237
Hey @mnapoli yes, I added the baseURL but I still need to update the links, thanks for reminding me.

I looked at the documentation but I can't see anything wrong with my implementation.
Could you give me some pointer on where to look because it works fine in the preview.
Is there a specific folder structure needed for the template to work? Do I need to include the template files in the repo inste

[2019-07-11 11:33] mnapoli commented on #237
In preview it works fine because there is no "/documentation/" directory in the URL. But then when you deploy there is. So all your links for assets should have the `{{ baseUrl }}` prefix:

[code]

[2019-07-11 12:15] BobDeKort commented on #237
Thanks for the help!
Seems like it is working now, not sure what exactly fixed it.

[2019-07-11 13:53] #237 closed

[2019-07-12 09:20] #206 closed

[2019-11-04 14:22] alexanderwink opened #240 "Support for filenames with special characters"
Couscous doesn't support files with special characters in them. In fact these files are ignored when generating the output and this very ambiguous error is shown.

In Filesystem.php line 638:

  A temporary file could not be created.

[2019-11-18 00:27] N6REJ opened #241 "Bootstrap accordion support?"
Will this allow bootstrap accordions to function in the docs?

[2019-11-18 07:30] mnapoli commented on #241
You can write you own HTML theme, which lets you use any HTML or CSS you want.

[2019-11-18 07:30] #241 closed

[2019-11-18 18:31] N6REJ commented on #241
Does the documentation CLEARLY explain how to do that?

[2019-11-18 19:20] mnapoli commented on #241
@N6REJ No, because that is not the scope of Couscous. If you want to learn how to use Bootstrap, go read the Bootstrap documentation.

[2019-11-19 14:53] N6REJ commented on #241
please don't be flippant.  I understand how to use BS what I DON"T know and it's not covered in the couscous docs, is how to tell couscous to use bootstrap.
You say you can use any html based theme... ok, great... how/where/docs?

[2019-12-04 18:02] alialghamdi commented on #216
I'm facing the same issue, with php v7.2.13 and composer v1.9.1

This is my first try with couscous

`PHP Fatal error:  Uncaught Error: Call to undefined function DI\object() in /Users/xxxxx/.composer/vendor/couscous/couscous/src/Module/Markdown/config.php:5
Stack trace:
#0 /Users/xxxxx/.composer/vendor/php-di/php-di/src/Definition/Source/DefinitionFile.php(59): require()
#1 /Users/xxxxx/.composer

[2019-12-07 21:54] markuspoerschke commented on #54
@mnapoli As far as I can see, the domain ist hosted at gandi.net. Isn’t it possible to add a redirect for a sub-domain? https://docs.gandi.net/en/domain_names/common_operations/web_forwarding.html

[2019-12-07 21:56] markuspoerschke opened #242 "Secure couscous.io with SSL"
Accessing couscous.io with `https://` is causing a `SSL_ERROR_BAD_CERT_DOMAIN` error showing in the browser.

[2019-12-08 09:34] mnapoli commented on #242
Hi, couscous.io is on HTTP, not HTTPS. (HTTPS isn't supported at the moment)

[2019-12-08 09:35] mnapoli commented on #54
Honestly I don't think this is a problem (unless I missed something). I'll be closing this as I don't intend to fix this for now.

[2019-12-08 09:35] #54 closed

[2019-12-09 09:28] gmponos opened #243 "Couscous version output"
When I run

 I get

No version output.

[2019-12-09 09:31] mnapoli commented on #243
Hi, this is indeed not supported at the moment. This represents too much effort to hardcode the version in the source code.

Any other solution is welcome, on the condition that it doesn't make the deployment process more complex, that it doesn't introduce too much complexity in the code as well or too many extra Composer dependencies).

[2019-12-09 09:38] gmponos commented on #243
The problem now with the phar is that I am not aware of the version installed. Could check hash or something..

One more thing is that I also don't see a changelog.. this could at least indicate which version I am using if it was included in the phar.

[2019-12-09 09:39] mnapoli commented on #243
I understand the problem, I have the same problem.

Any contribution that fits the guidelines described above is welcome :)

[2019-12-25 03:23] cup opened #244 "Tags"
I am not seeing any support for tags. Is that the case?

https://gohugo.io/content-management/taxonomies

[2019-12-25 21:56] mnapoli commented on #244
You can add any metadata you want on pages, but there is no way to for example retrieve all pages for a given tag/metadata.

[2020-03-28 20:45] Nyholm opened #247 "Custom twig extensions"
Excuse my ignorance.

Is there a way to add custom twig  extensions?

My current scenario is that I build my assets with webpack. I would like to use the manifest file to map "virtual names" for real names.

[code]

If I can somehow add a custom Twig extension or any PHP code during the build process, then I can do whatever I want =)

[2020-03-28 22:25] Nyholm commented on #247
Wohoo. I  solved it myself.

Couscous just got 2 units more awesome. =)

[2020-03-31 22:52] advename opened #251 "Couscous preview throws Fatal Error"
**System:**
Windows 10 Pro
Couscous 1.7.3

**Issue**:
When running the `couscous preview` command, the console returns:

`Fatal error: Uncaught TypeError: Argument 1 passed to DOMNode::replaceChild() must be an instance of DOMNode, null given in erusev\parsedown-extra\ParsedownExtra.php:473`

[2020-04-06 12:36] #243 closed

[2020-04-06 12:39] #247 closed

[2020-04-22 08:24] chicgeek commented on #242
Entirely related to this, the secure path to your site still resolves and looks pretty broken: https://couscous.io/

[2020-05-12 06:25] webmaster777 commented on #242
We were able to pull it off for php-di, so maybe couscous itself can adopt https too? See https://github.com/PHP-DI/PHP-DI/issues/641

[2020-05-12 07:03] mnapoli commented on #242
It seems couscous.io is accessible through HTTPS, it's now a matter of fixing the mixed content. That is possible via a pull request, so I'll leave that up to a contribution since I have more urgent issues in my open source backlog for now.

[2020-07-02 15:35] Guite opened #255 "Make branch for travis-auto-deploy configurable"
Hello,
it would be helpful if it was possible to configure which branch should trigger the deployment in Travis builds.
Currently this is hardcoded to `master` which prevents using any other branch for any reason.

Also [GitHub abandons 'master' term to avoid slavery row](https://www.bbc.com/news/technology-53050955).

[2020-12-23 17:32] ncou opened #262 "improvement : Highlight.php ?"
Hi,

Nice piece of code. I have just tested this tool but it seems to do the work. Simple and powerfull.

Just my 2 cents opinion, I think using the highlighter "https://github.com/scrivo/highlight.php" could be a fine plugin to Couscous, the idea is that most of the site using coucous should also use an highlighter (mostly in javascript to apply the highlight on the fly) so a plugin to enable the

[2021-01-15 10:42] mnapoli commented on #262
Why not, but I'm afraid this would add some complexity and some more dependencies for something that can be solved in JS.

[2021-01-15 16:02] ncou commented on #262
Yes it could add some complexity, and the JS way work fine. I just find the result a bit slow while doing the highlighting on-the-fly.

[2021-02-26 20:59] Baptouuuu opened #263 "Incompatibility in the last release"
Hi,

A few months back I made a few PRs to [upgrade the code](https://github.com/CouscousPHP/Couscous/pull/259) and [allow to use symfony 5](https://github.com/CouscousPHP/Couscous/pull/257).

The problem is that only one of them is available in `1.8.0` so if anybody use the [couscous github action](https://github.com/CouscousPHP/GitHub-Action) or do a `composer update` they will use the symfony 5

[2021-05-31 15:48] llaumgui opened #265 "Fatal with GitHubAction"
Hi,

On my GitHubAction: https://github.com/llaumgui/JunitXml/runs/2712050364?check_suite_focus=true
[code]

[2022-02-14 08:00] #255 closed